<form (ngSubmit)="onSubmit()">
    <div class="mat-subheading-2">Add info</div>

    <mat-form-field>
        <input matInput maxLength="140" name="info" [(ngModel)]="info">
        <mat-hint align="end">{{info?.length || 0}}/140</mat-hint>
    </mat-form-field>

    <div class="actions">
        <button mat-button type="button" color="primary" (click)="onCancel()">Cancel</button>
        <button mat-button type="submit" color="primary">Save</button>
    </div>
</form>