<h2 mat-dialog-title>{{ title }}</h2>
<mat-dialog-content>
	<h4>{{ body }}</h4>
</mat-dialog-content>
<mat-dialog-actions align="end">
	<button mat-button mat-dialog-close>Cancel</button>
	<button mat-button (click)="delete()">Yes</button>
</mat-dialog-actions>