<div fxLayout="column" fxLayoutAlign="start center">

	<button mat-raised-button class="google">
		Log in with Google
	</button>

	<button mat-raised-button class="facebook">
		Log in with Facebook
	</button>

</div>