<div class="page-layout simple fullwidth" id="list-page">

	<div class="header dark-bar" fxLayout="row" fxLayoutAlign="space-between center">
		<div fxFlex="40" class="header-title">
			<!-- <button mat-icon-button class="sidebar-toggle mr-8" fxHide.gt-md
				(click)="toggleSidebar('simple-right-sidebar-1')">
				<mat-icon>menu</mat-icon>
			</button> -->
			<p fxLayoutAlign="start"><span class="h2 ml-24">Locations</span></p>
		</div>
		<div class="search-wrapper" fxFlex fxLayout="row" fxLayoutAlign="start center">
			<div class="search" fxLayout="row" fxLayoutAlign="start center">
				<mat-icon class="search-icon">search</mat-icon>
				<input placeholder="Search" (keyup)="applyFilter($event.target.value)" fxFlex>
				<!-- <button mat-icon-button color="accent" (click)="searchSites()">
					<mat-icon>search</mat-icon>
				</button> -->
			</div>
		</div>
		<p>
			<button mat-icon-button class="mr-0 mr-sm-16 site-delete-btn" (click)="refreshSites()">
				<mat-icon>refresh</mat-icon>
			</button>
			<button mat-icon-button class="mr-0 mr-sm-16 site-delete-btn" (click)="addSite()">
				<mat-icon>add</mat-icon>
			</button>
		</p>

	</div>
	<div class="content p-12">
		<div class="loading-shade" *ngIf="isLoadingResults">
			<mat-spinner *ngIf="isLoadingResults"></mat-spinner>
		</div>
		<table mat-table [dataSource]="dataSource">
			<!-- ID Column -->
			<ng-container matColumnDef="name">
				<th mat-header-cell *matHeaderCellDef> Name </th>
				<td mat-cell *matCellDef="let row"> {{ row.name }} </td>
			</ng-container>

			<!-- Progress Column -->
			<ng-container matColumnDef="address">
				<th mat-header-cell *matHeaderCellDef> Address </th>
				<td mat-cell *matCellDef="let row"> {{ row.address }} </td>
			</ng-container>

			<!-- Name Column -->
			<ng-container matColumnDef="city">
				<th mat-header-cell *matHeaderCellDef> City </th>
				<td mat-cell *matCellDef="let row"> {{ row.city }} </td>
			</ng-container>

			<ng-container matColumnDef="state">
				<th mat-header-cell *matHeaderCellDef> State </th>
				<td mat-cell *matCellDef="let row"> {{ row.state }} </td>
			</ng-container>

			<ng-container matColumnDef="zip">
				<th mat-header-cell *matHeaderCellDef> ZIP </th>
				<td mat-cell *matCellDef="let row"> 
					<p class="mr-12">{{ row.zip }}</p>
				</td>
			</ng-container>

			<!-- Color Column -->
			<ng-container matColumnDef="cameras">
				<th mat-header-cell *matHeaderCellDef> Cameras </th>
				<td mat-cell *matCellDef="let row">
					<mat-chip-list>
						<mat-chip class="m-12" color="accent" selected>{{ row.cameras }}</mat-chip>
					</mat-chip-list>
				</td>
			</ng-container>

			<tr mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></tr>
			<tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="siteDetails(row)" class="site">
			</tr>
		</table>
		<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
	</div>
</div>