<div class="navbar-top" [ngClass]="fuseConfig.layout.navbar.secondaryBackground">

	<div class="logo">
		<img style="margin: auto" class="logo-icon" [src]="logoObservable | async">
		<button mat-icon-button class="toggle-sidebar-folded top-fold-icon" (click)="toggleSidebarFolded()">
			<mat-icon class="secondary-text">menu</mat-icon>
		</button>
		<!-- <span class="logo-text secondary-text">SecuroNet</span> -->
	</div>

	<div class="buttons">

		<button mat-icon-button class="toggle-sidebar-folded" (click)="toggleSidebarFolded()" fxHide.lt-lg>
			<mat-icon class="secondary-text">menu</mat-icon>
		</button>

		<button mat-icon-button class="toggle-sidebar-opened" (click)="toggleSidebarOpened()" fxHide.gt-md>
			<mat-icon class="secondary-text">arrow_back</mat-icon>
		</button>

	</div>

</div>


<div class="navbar-scroll-container" [ngClass]="fuseConfig.layout.navbar.primaryBackground" fusePerfectScrollbar
	[fusePerfectScrollbarOptions]="{suppressScrollX: true}">

	<div class="user" fxLayout="column" [ngClass]="fuseConfig.layout.navbar.secondaryBackground">

		<div class="h3 username">{{ user?.first_name + ' ' + user?.last_name }}</div>
		<div class="h5 email hint-text mt-8">{{ user?.email }}</div>
		<div class="avatar-container" [ngClass]="fuseConfig.layout.navbar.primaryBackground">
			<img class="avatar" [src]="user?.avatar_url">
		</div>

	</div>

	<div class="navbar-content">
		<fuse-navigation class="material2" layout="vertical"></fuse-navigation>
	</div>

</div>

<div class="navbar-bottom">
	<div class="powered-by-logo">
		<img class="unfolded" src="assets/images/logos/fusus-registry-logo_white.svg">
		<img class="folded" src="assets/images/logos/fusus-logo.svg">
	</div>
	<div class="version">{{ version }}</div>
</div>