<div id="login" class="inner-scroll" fxLayout="row" fxLayoutAlign="start">

    <div id="login-intro" class="dynamic-bg" fxFlex fxHide fxShow.gt-xs
        [ngStyle]="{'background' : 'linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(' + backgroundImage + ') no-repeat'}">

        <div class="title" [@animate]="{value:'*',params:{delay:'50ms',y:'25px'}}">
            The {{ departmentName }}'s Camera Registry
        </div>

        <div class="description" [@animate]="{value:'*',params:{delay:'100ms',y:'25px'}}">
            Registering your security cameras with the {{ departmentName }} allows the department to quickly and efficiently investigate incidents that may have occurred in and around your location. Your support of this program will help the department keep our community safe for all of its citizens.
        </div>

        <div class="description" [@animate]="{value:'*',params:{delay:'100ms',y:'25px'}}">
            <ul>
                <li>Registration typically takes under 5 minutes</li>
                <li>The information you provide is accessible only by authorized personnel at the police department</li>
                <li>The information will only be shared with public safety personnel, not third parties</li>
                <li>Helps investigators to request recorded video of criminal incidents, to assist in investigations</li>
            </ul>

            <div class="video-container">
                <div class="video-tag" [ngClass]="{ 'not-show': !showVideoTag }">
                    Watch this 1 minute video to see the 3 steps you will take to register your camera(s)
                </div>
                <video #video controls src="assets/videos/Fusus_Registry_Demo.mp4"></video>
            </div>
        </div>

        <!--        <video muted autoplay loop id="myVideo">-->
        <!--            <source src="assets/video/SampleVideo_1280x720_1mb.mp4" type="video/mp4">-->
        <!--        </video>-->

    </div>

    <div id="login-form-wrapper" fusePerfectScrollbar [@animate]="{value:'*',params:{delay:'300ms',x:'100%'}}">

        <div id="login-form">

            <div class="logo-form ">
                <img [src]="loginLogoImage">
            </div>

            <div class="title">LOGIN TO YOUR ACCOUNT</div>

            <form name="loginForm" [formGroup]="loginForm" novalidate>

                <p class="auth-error" *ngIf="apiError">{{ apiError }}</p>

                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="username">
                    <mat-icon matSuffix class="secondary-text">mail</mat-icon>
                    <mat-error *ngIf="loginForm.get('username').hasError('required')">
                        Email is required
                    </mat-error>
                    <mat-error *ngIf="!loginForm.get('username').hasError('required') &&
							loginForm.get('username').hasError('email')">
                        Please enter a valid email address
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Password</mat-label>
                    <input matInput type="password" formControlName="password">
                    <mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>
                    <mat-error>
                        Password is required
                    </mat-error>
                </mat-form-field>

                <div class="remember-forgot-password" fxLayout="row" fxLayout.xs="column"
                    fxLayoutAlign="space-between center">
                    <!-- <mat-checkbox class="remember-me" aria-label="Remember Me">
						Remember Me
					</mat-checkbox> -->

                    <a class="forgot-password" [routerLink]="'/forgot-password'">
                        Forgot Password?
                    </a>
                </div>

                <button mat-raised-button color="accent" class="submit-button" aria-label="LOGIN"
                    [disabled]="loginForm.invalid" (click)="signInWithEmail()">
                    LOGIN
                </button>

            </form>

            <div *ngIf="false" class="separator">
                <span class="text">OR</span>
            </div>

            <div fxLayout="column" fxLayoutAlign="start center">

                <!-- <button mat-raised-button class="google" (click)="signInWithGoogle()">
                    Log in with Google
                </button> -->

                <!-- <button mat-raised-button class="facebook" (click)="signInWithFacebook()" disabled>
					Log in with Facebook
				</button> -->

            </div>

            <div class="register" fxLayout="column" fxLayoutAlign="center center" aria-disabled="true">
                <span class="text">Don't have an account?</span>
                <a class="link" [routerLink]="'/register'">Create an account</a>
            </div>            
        </div>
        <div class="fusus-logo-login">
            <img src="assets/images/logos/powered-by-fusus-logo.png">
        </div>
    </div>
</div>