<!-- <mat-dialog-actions align="end" class="p-12 mt-12 dialog-actions-container">
    <button mat-icon-button mat-dialog-close tabIndex="-1" class="btn-close">
        <mat-icon>close</mat-icon>
    </button>
</mat-dialog-actions> -->
<h2 mat-dialog-title>{{ stepName }}<span class="http-error ml-24" *ngIf="httpErrors">Action failed</span></h2>

<mat-horizontal-stepper (selectionChange)="stepChange($event)" #stepper>
    <ng-template matStepperIcon="edit"></ng-template>
    <ng-template matStepperIcon="done"></ng-template>

    <mat-step label="Get Started" state="">
        <div class="welcome-txt wt-1">Welcome to the {{ departmentName }}'s Newest Community Safety & Investigation
            Tool!</div>
        <div class="welcome-txt wt-2">Thank you for partnering with your community to help fight crime</div>
        <div class="welcome-txt wt-3">Registration is fast and easy - simply follow the steps in this setup wizard to
            register your camera location(s) in the Department's secure database. Investigators will be able to contact
            you directly if they need your assistance with video footage.</div>
        <div fxFlex="100" fxFlex.lt-md="100" class="dialog-map m-4">
            <mat-dialog-actions align="center" class="p-12 mt-12">
                <button mat-raised-button type="button" color="accent" class="wt-btn" matStepperNext>Get
                    Started</button>
            </mat-dialog-actions>
        </div>
    </mat-step>

    <mat-step label="Register Location" state="">
        <div fxLayoutAlign="start" class="site-form-content">

            <div fxFlex="60" fxFlex.lt-md="100" class="dialog-map m-4">
                <form class="p-0 mr-0" [formGroup]="form">
                    <div fxLayout="row">

                        <mat-form-field appearance="outline" fxFlex="100">
                            <mat-label>Search Address</mat-label>
                            <input matInput formControlName="fullAddress" #search required>
                            <mat-error>Address is required!</mat-error>
                        </mat-form-field>

                    </div>
                </form>
                <div id="map-container">
                    <site-map #siteMap [showSite]="true" [site]="site" (siteDragEnd)="positionLoaded($event)"
                        (positionLoaded)="positionLoaded($event)" [icon]="1"></site-map>
                </div>
            </div>
            <mat-dialog-content class="mat-typography dialog-form-fields-fl m-4" fxFlex="40" fxFlex.lt-md="100">
                <form class="p-0 mr-0" fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto" name="form"
                    [formGroup]="form">

                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                        <mat-form-field appearance="outline" fxFlex="100">
                            <mat-label>Location Type</mat-label>
                            <mat-select placeholder="Type" formControlName="type" required>
                                <mat-option *ngFor="let type of [
                                        {txt: 'Corporate/Office Building', value: 'Corporate/Office Building'},
                                        {txt: 'K-12 School', value: 'K-12 School'},
                                        {txt: 'College/University Campus', value: 'College/University Campus'},
                                        {txt: 'Retail Store', value: 'Retail Store'},
                                        {txt: 'Parking Garage', value: 'Parking Garage'},
                                        {txt: 'Shopping Mall', value: 'Shopping Mall'},
                                        {txt: 'City/County Owned', value: 'City/County Owned'},
                                        {txt: 'Residential Building', value: 'Residential Building'},
                                        {txt: 'Other', value: 'Other'}
                                    ]" [value]="type.value">{{ type.txt }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                    </div>

                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                        <mat-form-field appearance="outline" fxFlex="100">
                            <mat-label>Location name</mat-label>
                            <input matInput formControlName="name" required>
                            <mat-error>Name is required!</mat-error>
                            <p class="http-error field-error">{{ httpErrors?.name }}</p>
                        </mat-form-field>

                    </div>

                    <!--div hidden fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                        <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
                            <mat-label>Latitude</mat-label>
                            <input matInput formControlName="lat" required>
                            <mat-error>Latitude is required!</mat-error>
                            <p class="http-error field-error">{{ httpErrors?.lat }}</p>
                        </mat-form-field>

                        <mat-form-field appearance="outline" fxFlex="50" class="pl-4">
                            <mat-label>Longitude</mat-label>
                            <input matInput formControlName="lon" required>
                            <mat-error>Longitude is required!</mat-error>
                            <p class="http-error field-error">{{ httpErrors?.lon }}</p>
                        </mat-form-field>

                    </div-->

                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto" class="mb-12">
                        <div class="h2 secondary-text">Primary Contact</div>
                    </div>

                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                        <mat-form-field appearance="outline" fxFlex="100">
                            <mat-label>Name</mat-label>
                            <input matInput formControlName="primary_contact_name" required>
                            <mat-error>Name is required!</mat-error>
                            <p class="http-error field-error">{{ httpErrors?.primary_contact_name }}</p>
                        </mat-form-field>

                    </div>

                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                        <mat-form-field appearance="outline" fxFlex="100">
                            <mat-label>Email</mat-label>
                            <input matInput formControlName="primary_contact_email" required>
                            <mat-error>
                                <div *ngIf="form.controls['primary_contact_email'].value.trim().length == 0">Email is
                                    required!</div>
                                <div *ngIf="form.controls['primary_contact_email'].value.trim().length > 0">Invalid
                                    format!</div>
                            </mat-error>
                            <p class="http-error field-error">{{ httpErrors?.primary_contact_email }}</p>
                        </mat-form-field>

                    </div>

                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                        <mat-form-field appearance="outline" fxFlex="100">
                            <mat-label>Phone</mat-label>
                            <input class="phone-input" matInput formControlName="primary_contact_phone" required>
                            <span class="phone-prefix"
                                [class.visible]="form.get('primary_contact_phone').value && form.get('primary_contact_phone').value.length > 0">+1</span>
                            <mat-error>
                                <div *ngIf="!form.get('primary_contact_phone').value"> Phone is required!</div>
                                <div
                                    *ngIf="form.get('primary_contact_phone').value && (form.get('primary_contact_phone').value.trim().length > 0)">
                                    Invalid format!</div>
                            </mat-error>
                            <p class="http-error field-error">{{ httpErrors?.primary_contact_phone }}</p>
                        </mat-form-field>

                    </div>

                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto" class="mb-12">
                        <div class="h2 secondary-text">Secondary Contact</div>
                    </div>

                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                        <mat-form-field appearance="outline" fxFlex="100" class="contact-field">
                            <mat-label>Name</mat-label>
                            <input matInput formControlName="secondary_contact_name">
                            <p class="http-error field-error">{{ httpErrors?.secondary_contact_name }}</p>
                        </mat-form-field>

                    </div>

                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                        <mat-form-field appearance="outline" fxFlex="100" class="contact-field">
                            <mat-label>Email</mat-label>
                            <input matInput formControlName="secondary_contact_email">
                            <mat-error>Invalid format!</mat-error>
                            <p class="http-error field-error">{{ httpErrors?.secondary_contact_email }}</p>
                        </mat-form-field>

                    </div>

                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                        <mat-form-field appearance="outline" fxFlex="100">
                            <mat-label>Phone</mat-label>
                            <input class="phone-input" matInput formControlName="secondary_contact_phone" mask="">
                            <span class="phone-prefix"
                                [class.visible]="form.get('secondary_contact_phone').value && form.get('secondary_contact_phone').value.length > 0">+1</span>
                            <mat-error>Invalid format!</mat-error>
                            <p class="http-error field-error">{{ httpErrors?.secondary_contact_phone }}</p>
                        </mat-form-field>

                    </div>
                </form>
            </mat-dialog-content>

        </div>
        <mat-dialog-actions align="end" class="p-12 mt-12">
            <button mat-raised-button type="button" color="accent" matStepperPrevious class="wt-btn">Back</button>
            <button mat-raised-button type="button" color="accent" [disabled]="!form.valid" class="wt-btn"
                (click)="saveSite()">Save</button>
            <button mat-raised-button type="button" color="accent" matStepperNext [disabled]="!canNext"
                class="wt-btn">Next</button>
        </mat-dialog-actions>
    </mat-step>

    <mat-step label="Register Camera(s)" state="">
        <div fxLayoutAlign="start" class="site-form-content">
            <div class="dialog-map m-4" fxFlex="60" fxFlex.lt-md="100">
                <div id="map-container">
                    <site-map #siteMapCameraDialog [site]="currentSiteCameraDialog"
                        (selectedCameraByClick)="selectedCameraByClick($event)"
                        [showSiteNoName]="!cameraToEditCameraDialog" [showCameras]="true"
                        (siteDragEnd)="dragEnd($event)" [selectedCameraId]="cameraToEditCameraDialog?.id"
                        (positionLoaded)="positionLoadedCameraDialog($event)" [showCameraOnlyActionsName]="true"
                        (selectedCameraDragEnd)="cameraDragEnd($event)" [selectedCameraDrag]="true" [icon]="cameraMapIconNumber"
                        [isNewCameraToAdd]="isNewCameraToAdd">
                    </site-map>
                </div>

                <mat-dialog-actions align="end" class="p-12 mt-12">

                </mat-dialog-actions>

            </div>
            <mat-dialog-content class="mat-typography dialog-form-fields-fl m-4" fxFlex="40" fxFlex.lt-md="100">
                <form class="p-0 mr-0" fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto" name="formCameraDialog"
                    [formGroup]="formCameraDialog">

                    <!--div fxLayout="row">

                        <mat-form-field appearance="outline" fxFlex="100">
                            <mat-label>Camera site</mat-label>
                            <mat-select placeholder="Camera site" formControlName="locationCameraDialog"
                                (selectionChange)="selectionChange($event)" required>
                                <mat-option *ngFor="let site of sitesListCameraDialog" [value]="site.id">{{ site.name }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                    </div>--->

                    <div fxLayout="row">

                        <mat-form-field appearance="outline" fxFlex="100">
                            <mat-label>Camera Name</mat-label>
                            <input matInput formControlName="nameCameraDialog" #search required>
                            <mat-error>Camera Name is required!</mat-error>
                        </mat-form-field>

                    </div>

                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                        <mat-form-field appearance="outline" fxFlex="100">
                            <mat-label>Camera Manufacturer</mat-label>
                            <input matInput formControlName="makeCameraDialog">
                        </mat-form-field>

                    </div>

                    <mat-dialog-actions align="end" class="p-12 mt-12">
                        <button mat-raised-button type="button" color="accent" [disabled]="!formCameraDialog.valid"
                            (click)="saveCamera()" tabIndex="-1" class="wt-btn">Save</button>
                    </mat-dialog-actions>

                    <div fxLayout="row">

                        <div class="add-camera-info">
                            Position your cameras by clicking and dragging the cameras to the appropriate location on
                            your
                            building.
                        </div>
                    </div>


                    <!--<div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                        <mat-form-field appearance="outline" fxFlex="100">
                            <mat-label>Model</mat-label>
                            <input matInput formControlName="modelCameraDialog">
                            <mat-icon matSuffix class="secondary-text">branding_watermark</mat-icon>
                        </mat-form-field>

                    </div>

                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                        <mat-form-field appearance="outline" fxFlex="100">
                            <mat-label>Resolution</mat-label>
                            <mat-select placeholder="Resolution" formControlName="resolutionCameraDialog">
                                <mat-option *ngFor="let r of resolutionListCameraDialog" [value]="r.id">{{ r.value }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                    </div>
                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                        <mat-form-field appearance="outline" fxFlex="100">
                            <mat-label>Height (ft)</mat-label>
                            <input matInput formControlName="height_ftCameraDialog">
                            <mat-icon matSuffix class="secondary-text">straighten</mat-icon>
                            <mat-error>Invalid value!</mat-error>
                        </mat-form-field>

                    </div>

                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                        <mat-form-field appearance="outline" fxFlex="100">
                            <mat-label>Distance (ft)</mat-label>
                            <input matInput formControlName="distance_ftCameraDialog">
                            <mat-icon matSuffix class="secondary-text">straighten</mat-icon>
                            <mat-error>Invalid value!</mat-error>
                        </mat-form-field>

                    </div>

                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                        <mat-form-field appearance="outline" fxFlex="100">
                            <mat-label>Field of View</mat-label>
                            <input matInput formControlName="fovCameraDialog">
                            <mat-icon matSuffix class="secondary-text">360</mat-icon>
                            <mat-error>Invalid value!</mat-error>
                        </mat-form-field>

                    </div> -->

                    <input formControlName="latCameraDialog" type="hidden" required>
                    <input formControlName="lonCameraDialog" type="hidden" required>
                </form>
            </mat-dialog-content>
        </div>
        <mat-dialog-actions align="end" class="p-12 mt-12">
            <button mat-raised-button type="button" color="accent" matStepperPrevious class="wt-btn">Back</button>
            <button mat-raised-button type="button" color="accent" [disabled]="!enableAddNewCameraBtn" (click)="clear()"
                class="wt-btn">Add New Camera</button>
            <button mat-raised-button matStepperNext class="wt-btn" color="accent"
                [disabled]="!enableButtonFinish">Finish</button>
        </mat-dialog-actions>
    </mat-step>

    <mat-step label="Finish" state="">
        <div class="welcome-txt wt-finish-1">Thank you for your camera registration!</div>
        <div class="welcome-txt wt-finish-2">We appreciate your participation in our community safety program</div>
        <div class="welcome-txt wt-finish-3">The information you provided will be submitted for review by the Department
            for acceptance into the registration program. You can return to your registration page at any time to add or
            move cameras at your location using the user ID and password you provided.</div>
        <div fxFlex="100" fxFlex.lt-md="100" class="dialog-map m-4">
            <mat-dialog-actions align="center" class="p-12 mt-12">
                <button mat-raised-button mat-dialog-close color="accent" type="button" class="wt-btn"
                    (click)="share()">Submit Registration</button>
            </mat-dialog-actions>
            <mat-dialog-actions align="center" class="p-12 mt-12">
                <button mat-button matStepperPrevious type="button">Back</button>
            </mat-dialog-actions>
        </div>
    </mat-step>
</mat-horizontal-stepper>