@media screen and (max-width: 720px) {
	.site-form-content {
		flex-direction: column !important;
	}

	.dialog-form-fields-fl {
		width: 100%;
		height: 60%;

		form {
			width: 100%;
			height: 250px;
		}
	}

	.dialog-map {
		width: 100%;
		height: 300px;

		#map-container {
			height: 200px;
		}
    }
}

@media screen and (min-width: 720px) {
	.site-form-content {
		flex-direction: row;
		box-sizing: border-box;
		display: flex;
		place-content: stretch center;
		align-items: stretch;
		width: 100%;
	}

	.dialog-form-fields-fl {
		flex-direction: column;
		box-sizing: border-box;
		display: flex;
		place-content: stretch flex-start;
        align-items: stretch;
        
        form {
            width: 40%;
            height: 250px;
        }
    }

	.dialog-map {
		flex: 1;

		#map-container {
			width: 100%;
			height: 60vh;
		}
    }
}

.wt-btn {
    font-size: 20px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #66bd4d !important;
    font-weight: bold;
}

.http-error {
	color: red;
}

.field-error {
	font-size: 10px;
}
.welcome-txt {
    font-size: 150%;
    text-align: center;
}

.wt-1 {
    margin-top: 120px;
    margin-bottom: 30px;
    color: #202639;
    font-size: 35px;
    font-weight: bold;
}

.wt-2 {
    margin-bottom: 30px;
    color: #66bd4d;
    font-size: 25px;
    font-weight: bold;
}

.wt-3 {
    margin-bottom: 30px;
    color: black;
    padding-left: 10%;
    padding-right: 10%;
}

.wt-add-camera {
    margin-top: 120px;
    margin-bottom: 30px;
}

.add-camera-info {
    margin-top: 50px;
    color: black;
    font-size: 25px;
    line-height: 200%;
    color: #202639;
    text-align: center;
}

.wt-finish-1 {
    margin-top: 120px;
    margin-bottom: 30px;
    color: #202639;
    font-size: 35px;
    font-weight: bold;
}

.wt-finish-2 {
    margin-bottom: 30px;
    color: #66bd4d;
    font-size: 25px;
    font-weight: bold;
}

.wt-finish-3 {
    margin-bottom: 30px;
    color: black;
    padding-left: 10%;
    padding-right: 10%;
}

.dialog-actions-container {
    margin-top: 0px;
}

.mat-step-header .mat-step-icon-selected {
    background-color: green !important;
 }

.mat-horizontal-stepper-header-container  {
    pointer-events: none !important;
}