<h2 mat-dialog-title>Terms of use</h2>
<mat-dialog-content #dialog (scroll)="onScroll()" class="mat-typography">
    <div [innerHTML]="termsText"></div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-raised-button cdkFocusInitial color="accent" (click)="acceptTerms()" [disabled]="!scrollEnd"
        tabIndex="-1">Accept</button>
    <button mat-raised-button mat-dialog-close type="button" (click)="cancel()" class="wt-btn" tabIndex="-1">Cancel</button>
</mat-dialog-actions>