<h2 mat-dialog-title>Contact Info</h2>

<mat-dialog-content>
	<div id="register-form">

		<form name="registerForm" [formGroup]="registerForm" novalidate>

			<mat-form-field appearance="outline">
				<mat-label>First Name</mat-label>
				<input matInput formControlName="first_name">
				<mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
				<mat-error>
					Name is required
				</mat-error>
			</mat-form-field>

			<mat-form-field appearance="outline">
				<mat-label>Last Name</mat-label>
				<input matInput formControlName="last_name">
				<mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
				<mat-error>
					Name is required
				</mat-error>
			</mat-form-field>
		</form>
	</div>
</mat-dialog-content>
<mat-dialog-actions align="end" class="p-12 mt-12">
	<button mat-raised-button color="accent" class="submit-button" aria-label="CREATE AN ACCOUNT"
		[disabled]="registerForm.invalid" (click)="updateUser()">
		Update Contact Info
	</button>
	<button mat-raised-button mat-dialog-close type="button">Cancel</button>
</mat-dialog-actions>