@import "src/@fuse/scss/fuse";

#register-form {	
	width: 100%;
	//padding: 30px 48px 48px 48px;

	@include media-breakpoint('xs') {
		text-align: center;
		padding: 24px;
	}

	.logo {
		width: 128px;
		margin: 32px auto;
	}

	.title {
		font-size: 21px;
	}

	.description {
		padding-top: 8px;
	}
	
	// .form {
	// 	flex-direction: column;
	// 	box-sizing: border-box;
	// 	display: flex;
	// 	place-content: stretch flex-start;
	// 	align-items: stretch;
	// 	width: 100%;
	// }

	.form-2 {
		flex: 1;
	}

	form {
		width: 100%;
		padding-top: 32px;

		mat-form-field {
			width: 100%;

			@include media-breakpoint('xs') {
				width: 80%;
			}
		}

		mat-checkbox {
			margin: 0;
		}

		.terms {
			margin: 16px 0 32px 0;

			a {
				font-size: 16px;
				margin-left: 4px;
			}
		}

		.submit-button {
			width: 100%;
			margin: 16px auto;
			display: block;

			@include media-breakpoint('xs') {
				width: 80%;
			}
		}
	}

	.separator {
		font-size: 15px;
		font-weight: 600;
		margin: 24px auto;
		position: relative;
		overflow: hidden;
		width: 100px;
		text-align: center;

		.text {
			display: inline-flex;
			position: relative;
			padding: 0 8px;
			z-index: 9999;

			&:before,
			&:after {
				content: '';
				display: block;
				width: 30px;
				position: absolute;
				top: 10px;
				border-top: 1px solid;
			}

			&:before {
				right: 100%;
			}

			&:after {
				left: 100%;
			}
		}
	}

	button {

		&.google,
		&.facebook {
			width: 70%;
			text-transform: none;
			color: #FFFFFF;
			font-size: 13px;

			@include media-breakpoint('xs') {
				width: 60%;
			}

			mat-icon {
				color: #FFFFFF;
				margin: 0 8px 0 0;
			}
		}

		&.google {
			background-color: #D73D32;
			margin-bottom: 8px;
		}

		&.facebook {
			background-color: rgb(63, 92, 154);
		}
	}
}

// @media screen and (max-width: 720px) {
// 	.small-screen-profile {
// 		visibility: hidden;
// 	}

// 	.normal-screen-profile {
// 		visibility: visible;
// 	}
// }

@media screen and (max-width: 720px) {
	mat-dialog-actions {
		justify-content: center !important;

		.submit-button {
			margin-bottom: 10px;
		}
	}

	mat-dialog-content {
		padding: 0 !important;
	}
}