<div id="mail-confirm" class="dynamic-bg" fxLayout="column" [ngStyle]="{'background': 'linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('+ emailConfirmationBackgroundImage +') no-repeat'}">

	<div id="mail-confirm-form-wrapper" fxLayout="column" fxLayoutAlign="center center">

		<div id="mail-confirm-form">

			<div class="logo">
				<mat-icon class="mat-accent s-96">email</mat-icon>
			</div>

			<div *ngIf="status === 1">
				<div class="title">Confirm your email address!</div>

				<div class="subtitle">
					<p>
						A confirmation e-mail has been sent to <b>{{ confirmEmail }}</b>.
					</p>
					<p>
						Check your inbox and click on the confirmation link to confirm your email address.
					</p>
				</div>

				<div class="message">
					<a class="link" [routerLink]="'/login'">Go back to login page</a>
				</div>
			</div>
			<div *ngIf="status === 2">
				<div class="title">Email confirmation successful!</div>

				<div class="message">
					<a class="link" [routerLink]="'/login'">Go to login page</a>
				</div>
			</div>
			<div *ngIf="status === 3">
				<div class="title">Email confirmation failed!</div>

				<div class="message">
					<a class="link" style="color: red">Resend email!</a>
				</div>
				<div class="message">
					<a class="link" [routerLink]="'/login'">Go back to login page</a>
				</div>
			</div>

		</div>

	</div>

</div>