<agm-map [zoom]="zoom || 20" [latitude]="site?.lat || defPos.lat" [longitude]="site?.lon || defPos.lng"
    [mapTypeId]="'hybrid'" [mapTypeControl]="true" [styles]="mapStyles" [rotateControl]="true">
    <div *ngIf="icon === 1">
        <agm-marker *ngIf="showSite" [latitude]="site?.lat" [longitude]="site?.lon" [markerDraggable]="true" [iconUrl]="{
			url: '/assets/icons/markers/location.svg',
			scaledSize: {
				width: 25,
				height: 25
			}
		}" (dragEnd)="dragEnd($event, true)">
            <agm-info-window *ngIf="site && site.address" [isOpen]="true">
                <p>{{ site?.address }}</p>
            </agm-info-window>
        </agm-marker>
    </div>
    <div *ngIf="icon === 2">
        <agm-marker *ngIf="showSite" [latitude]="site?.lat" [longitude]="site?.lon" [markerDraggable]="true"
            [iconUrl]="cameraIcon" (dragEnd)="dragEnd($event, true)">
            <agm-info-window *ngIf="site && site.address" [isOpen]="true">
                <p>{{ site?.address }}</p>
            </agm-info-window>
        </agm-marker>
    </div>
    <div *ngIf="icon === 3">
        <agm-marker *ngIf="showSite" [latitude]="site?.lat" [longitude]="site?.lon" [markerDraggable]="true"
            [iconUrl]="selectedCameraIcon" (dragEnd)="dragEnd($event, true)">
            <agm-info-window *ngIf="site && site.address" [isOpen]="true">
                <p>{{ site?.address }}</p>
            </agm-info-window>
        </agm-marker>
        <agm-marker *ngIf="showSiteNoName" [latitude]="site?.lat" [longitude]="site?.lon" [markerDraggable]="true"
            [iconUrl]="selectedCameraIcon" (dragEnd)="dragEnd($event, true)">
        </agm-marker>
    </div>
    <div *ngIf="showCameras">
        <agm-marker *ngFor="let camera of site?.cameras" (markerClick)="clickedMarker(camera)"
            [iconUrl]="selectedCameraId === camera.id ? selectedCameraIcon : cameraIcon" [latitude]="camera.lat"
            [longitude]="camera.lon" [markerDraggable]="camera.id === selectedCameraId && selectedCameraDrag"
            (dragEnd)="selectedCameraDragEvent($event)" (mouseClick)="mouseOver(camera.id)">
            <agm-info-window *ngIf="showCameraActions" [isOpen]="openCameraInfoWindow === camera.id"
                [disableAutoPan]="true">
                <p class="info-action-container">
                    <span class="h3">{{ camera.name }}</span>
                    <mat-icon class="info-action details" (click)="_cameraDetails(camera, site)">edit</mat-icon>
                </p>
            </agm-info-window>
            <agm-info-window *ngIf="showCameraOnlyActionsName" [isOpen]="openCameraInfoWindow === camera.id"
                [disableAutoPan]="true">
                <p class="info-action-container">
                    <span class="h3">{{ camera.name }}</span>
                </p>
            </agm-info-window>
        </agm-marker>
    </div>
    <div *ngIf="icon === 4">
        <agm-marker *ngFor="let marker of defaultCameraMarkers" [latitude]="marker.lat" [longitude]="marker.lon"
            [markerDraggable]="true" [iconUrl]="selectedCameraIcon" (dragEnd)="dragEnd($event, true)">
            <agm-info-window *ngIf="isNewCameraToAdd" [disableAutoPan]="true" [isOpen]=true>
                <p class="info-action-container">
                    <span class="h3">Drag me</span>
                </p>
            </agm-info-window>
        </agm-marker>
    </div>
</agm-map>