<h2 mat-dialog-title>{{ title }}<span class="http-error ml-24" *ngIf="httpErrors">Action failed</span></h2>
<div>
    <div fxLayoutAlign="start" class="site-form-content">
        <div fxFlex="60" fxFlex.lt-md="100" class="dialog-map m-4">
            <form class="p-0 mr-0" [formGroup]="form">
                <div fxLayout="row">

                    <mat-form-field appearance="outline" fxFlex="100">
                        <mat-label>Search Address</mat-label>
                        <input matInput formControlName="fullAddress" #search required>
                        <mat-error>Address is required!</mat-error>
                    </mat-form-field>

                </div>
            </form>
            <div id="map-container">
                <site-map #siteMap [showSite]="true" [site]="site" (siteDragEnd)="positionLoaded($event)"
                    (positionLoaded)="positionLoaded($event)" [icon]="1"></site-map>
            </div>
        </div>

        <mat-dialog-content class="mat-typography dialog-form-fields-fl m-4" fxFlex="40" fxFlex.lt-md="100">
            <form class="p-0 mr-0" fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto" name="form"
                [formGroup]="form">

                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                    <mat-form-field appearance="outline" fxFlex="100">
                        <mat-label>Location name</mat-label>
                        <input matInput formControlName="name" required>
                        <mat-error>Name is required!</mat-error>
                        <p class="http-error field-error">{{ httpErrors?.name }}</p>
                    </mat-form-field>

                </div>

                <!--div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                    <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
                        <mat-label>Latitude</mat-label>
                        <input matInput formControlName="lat" required>
                        <mat-error>Latitude is required!</mat-error>
                        <p class="http-error field-error">{{ httpErrors?.lat }}</p>
                    </mat-form-field>

                    <mat-form-field appearance="outline" fxFlex="50" class="pl-4">
                        <mat-label>Longitude</mat-label>
                        <input matInput formControlName="lon" required>
                        <mat-error>Longitude is required!</mat-error>
                        <p class="http-error field-error">{{ httpErrors?.lon }}</p>
                    </mat-form-field>

                </div-->

                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                    <mat-form-field appearance="outline" fxFlex="100">
                        <mat-label>Location Type</mat-label>
                        <mat-select placeholder="Type" formControlName="type" required>
                            <mat-option *ngFor="let type of [
                                {txt: 'Corporate/Office Building', value: 'Corporate/Office Building'},
                                {txt: 'K-12 School', value: 'K-12 School'},
                                {txt: 'College/University Campus', value: 'College/University Campus'},
                                {txt: 'Retail Store', value: 'Retail Store'},
                                {txt: 'Parking Garage', value: 'Parking Garage'},
                                {txt: 'Shopping Mall', value: 'Shopping Mall'},
                                {txt: 'City/County Owned', value: 'City/County Owned'},
                                {txt: 'Residential Building', value: 'Residential Building'},
                                {txt: 'Other', value: 'Other'}
                            ]" [value]="type.value">{{ type.txt }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                </div>

                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto" class="mb-12">
                    <div class="h2 secondary-text">Primary Contact</div>
                </div>

                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                    <mat-form-field appearance="outline" fxFlex="100" class="contact-field">
                        <mat-label>Name</mat-label>
                        <input matInput formControlName="primary_contact_name" required>
                        <p class="http-error field-error">{{ httpErrors?.primary_contact_name }}</p>
                    </mat-form-field>

                </div>

                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                    <mat-form-field appearance="outline" fxFlex="100" class="contact-field">
                        <mat-label>Email</mat-label>
                        <input matInput formControlName="primary_contact_email" required>
                        <!-- <mat-error>Invalid format!</mat-error> -->
                        <p class="http-error field-error">{{ httpErrors?.primary_contact_email }}</p>
                    </mat-form-field>

                </div>

                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                    <mat-form-field appearance="outline" fxFlex="100">
                        <mat-label>Phone</mat-label>
                        <input class="phone-input" matInput formControlName="primary_contact_phone" required>
                        <span class="phone-prefix"
                            [class.visible]="form.get('primary_contact_phone').value && form.get('primary_contact_phone').value.length > 0">+1</span>
                        <mat-error>Invalid format!</mat-error>
                        <p class="http-error field-error">{{ httpErrors?.primary_contact_phone }}</p>
                    </mat-form-field>

                </div>

                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto" class="mb-12">
                    <div class="h2 secondary-text">Secondary Contact</div>
                </div>

                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                    <mat-form-field appearance="outline" fxFlex="100" class="contact-field">
                        <mat-label>Name</mat-label>
                        <input matInput formControlName="secondary_contact_name">
                        <p class="http-error field-error">{{ httpErrors?.secondary_contact_name }}</p>
                    </mat-form-field>

                </div>

                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                    <mat-form-field appearance="outline" fxFlex="100" class="contact-field">
                        <mat-label>Email</mat-label>
                        <input matInput formControlName="secondary_contact_email">
                        <mat-error>Invalid format!</mat-error>
                        <p class="http-error field-error">{{ httpErrors?.secondary_contact_email }}</p>
                    </mat-form-field>

                </div>

                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                    <mat-form-field appearance="outline" fxFlex="100">
                        <mat-label>Phone</mat-label>
                        <input class="phone-input" matInput formControlName="secondary_contact_phone" mask="">
                        <span class="phone-prefix"
                            [class.visible]="form.get('secondary_contact_phone').value && form.get('secondary_contact_phone').value.length > 0">+1</span>
                        <mat-error>Invalid format!</mat-error>
                        <p class="http-error field-error">{{ httpErrors?.secondary_contact_phone }}</p>
                    </mat-form-field>

                </div>
            </form>
        </mat-dialog-content>
    </div>

    <mat-dialog-actions align="end" class="p-12 mt-12">
        <button mat-raised-button type="button" color="accent" [disabled]="!form.valid"
            (click)="saveSite()">Save</button>
        <button mat-raised-button mat-dialog-close type="button">Cancel</button>
    </mat-dialog-actions>
</div>


<!-- <mat-dialog-actions align="end" class="p-12 mt-12">
        <button mat-raised-button type="button" color="accent" matStepperPrevious class="wt-btn">Back</button>
        <button mat-raised-button type="button" color="accent" [disabled]="!form.valid"
            class="wt-btn" (click)="saveSite()">Save</button>
        <button mat-raised-button type="button" color="accent" matStepperNext [disabled]="!canNext"
            class="wt-btn">Next</button>
    </mat-dialog-actions> -->