@media screen and (max-width: 720px) {
	.site-form-content {
		flex-direction: column !important;
	}

	.dialog-form-fields {
		width: 100%;
		height: 60%;

		form {
			width: 100%;
			height: 250px;
		}
	}

	.dialog-map {
		width: 100%;
		height: 300px;

		#map-container {
			height: 200px;
		}
	}
}

@media screen and (min-width: 720px) {
	.site-form-content {
		flex-direction: row;
		box-sizing: border-box;
		display: flex;
		place-content: stretch center;
		align-items: stretch;
		width: 100%;
	}

	.dialog-form-fields {
		flex-direction: column;
		box-sizing: border-box;
		display: flex;
		place-content: stretch flex-start;
		align-items: stretch;
	}

	.dialog-map {
		flex: 1;

		#map-container {
			width: 100%;
			height: 60vh;
		}
	}
}

.http-error {
	color: red;
}

.field-error {
	font-size: 10px;
}