<div *ngIf="messages.length === 0" fxLayout="column" fxLayoutAlign="center center" fxFlexFill>
	<span class="no-messages-text hint-text">{{  'No messages' }}</span>
</div>

<div *ngIf="(loadState$ | async).loading; else messageList" class="loading-spinner">
	<mat-spinner></mat-spinner>
</div>

<ng-template #messageList>
	<div class="mail-list">
		<message-list-item matRipple *ngFor="let message of messages" [message]="message" (click)="readMessage(message)"
			[ngClass]="{'current-mail':message?.id == selectedMessage?.id}">
		</message-list-item>
	</div>
</ng-template>