:host {
	position: relative;
	display: flex;
	flex-direction: column;
	flex: 1;
	padding: 0;
	border-right: 1px solid;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;

	.no-messages-text {
		font-size: 24px;
		font-weight: 300;
	}

	.mail-list {
		position: relative;
		display: flex;
		flex-direction: column;
		flex: 1;
	}

	.loading-spinner {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		background: rgba(0, 0, 0, 0.15);
		z-index: 1;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}
