<div id="profile" class="page-layout simple fullwidth">

	<!-- HEADER -->
	<div class="header p-24" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-sm="row"
		fxLayoutAlign.gt-sm="space-between end">

		<div class="user-info" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-sm="row"
			fxLayoutAlign.gt-sm="start center" (click)="file.click()">
			<img class="profile-image avatar huge" [src]="user?.avatar_url">
			<div class="name">
				{{ user?.first_name + ' ' + user?.last_name }}
			</div>
			<input style="visibility: hidden" type="file" (change)="onFileChange($event)" #file>
		</div>

		<!-- <div class="actions" fxLayout="row" fxLayoutAlign="end center" [@animate]="{value:'*',params:{delay:'200ms'}}">
			<button mat-raised-button color="accent" aria-label="Follow">Follow</button>
			<button mat-raised-button color="primary" aria-label="Send Message">Send Message</button>
		</div> -->

	</div>
	<!-- / HEADER -->

	<!-- CONTENT -->
	<div class="content">
		<mat-grid-list cols="4" class="normal-screen-profile">
			<mat-grid-tile [colspan]="1" class="description-tile">
				<div class="ml-12">
					<h1>Personal Info</h1>
					<p>Manage your contact name data</p>
				</div>
			</mat-grid-tile>
			<mat-grid-tile [colspan]="3">
				<mat-list class="action-list m-24">
					<mat-list-item>
						<mat-icon mat-list-icon>email</mat-icon>
						<h4 mat-line>{{ user?.email }}</h4>
					</mat-list-item>
					<mat-divider></mat-divider>
					<mat-list-item class="profile-action" (click)="showProfileNameDialog()">
						<mat-icon mat-list-icon>person</mat-icon>
						<h4 mat-line>{{ user?.first_name + ' ' + user?.last_name }}</h4>
						<button mat-icon-button aria-label="more">
							<mat-icon>navigate_next</mat-icon>
						</button>
					</mat-list-item>
					<mat-divider></mat-divider>
				</mat-list>
			</mat-grid-tile>
			<mat-grid-tile [colspan]="1" class="description-tile">
				<div class="ml-12">
					<h1>Sign-in & Security</h1>
					<p>Control your password</p>
					<p>Make sure you choose a strong password</p>
					<button style="cursor:pointer" mat-button color="warn" (click)="deleteAccount()">Delete
						account</button>
				</div>
			</mat-grid-tile>
			<mat-grid-tile [colspan]="3">
				<mat-list class="action-list m-24">
					<mat-list-item class="profile-action" (click)="showProfilePasswordDialog()">
						<mat-icon mat-list-icon>vpn_key</mat-icon>
						<h4 class="red-font" mat-line>Update password</h4>
						<button mat-icon-button aria-label="more">
							<mat-icon>navigate_next</mat-icon>
						</button>
					</mat-list-item>
					<mat-divider></mat-divider>
				</mat-list>
			</mat-grid-tile>
		</mat-grid-list>

		<mat-list class="action-list m-24" class="small-screen-profile">
			<mat-list-item>
				<mat-icon mat-list-icon>email</mat-icon>
				<h4 mat-line>{{ user?.email }}</h4>
			</mat-list-item>
			<mat-divider></mat-divider>
			<mat-list-item class="profile-action" (click)="showProfileNameDialog()">
				<mat-icon mat-list-icon>person</mat-icon>
				<h4 mat-line>{{ user?.first_name + ' ' + user?.last_name }}</h4>
				<button mat-icon-button aria-label="more">
					<mat-icon>navigate_next</mat-icon>
				</button>
			</mat-list-item>
			<mat-divider></mat-divider>
			<mat-list-item class="profile-action" (click)="showProfilePasswordDialog()">
				<mat-icon mat-list-icon>vpn_key</mat-icon>
				<h4 class="red-font" mat-line>Update password</h4>
				<button mat-icon-button aria-label="more">
					<mat-icon>navigate_next</mat-icon>
				</button>
			</mat-list-item>
			<mat-divider></mat-divider>
		</mat-list>

		<!-- <mat-tab-group dynamicHeight="true">

			<mat-tab label="Timeline">
				<profile-timeline></profile-timeline>
			</mat-tab>

			<mat-tab label="About">
				<profile-about></profile-about>
			</mat-tab>

			<mat-tab label="Photos & Videos">
				<profile-photos-videos></profile-photos-videos>
			</mat-tab>

		</mat-tab-group> -->
		<!-- <div id="register-form-wrapper" fusePerfectScrollbar>

			<div id="register-form" fxLayout="row" fxLayoutAlign="start">

				<form name="registerForm" [formGroup]="registerForm" class="form-1 m-12" novalidate>

					<h3>CONTACT INFO</h3>

					<mat-form-field appearance="outline">
						<mat-label>First Name</mat-label>
						<input matInput formControlName="first_name">
						<mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
						<mat-error>
							Name is required
						</mat-error>
					</mat-form-field>

					<mat-form-field appearance="outline">
						<mat-label>Last Name</mat-label>
						<input matInput formControlName="last_name">
						<mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
						<mat-error>
							Name is required
						</mat-error>
					</mat-form-field>

					<mat-form-field appearance="outline">
						<mat-label>Email</mat-label>
						<input matInput formControlName="email">
						<mat-icon matSuffix class="secondary-text">mail</mat-icon>						
					</mat-form-field>

					<button mat-raised-button color="accent" class="submit-button" aria-label="CREATE AN ACCOUNT"
						[disabled]="registerForm.invalid" (click)="updateUser()">
						UPDATE CONTACT INFO
					</button>

				</form>

				<form name="passwordForm" [formGroup]="passwordForm" class="form-2 m-12" novalidate>
					<h3 class="red-font">CHANGE PASSWORD</h3>

					<error-msg [errors]="apiErrors.non_field_errors"></error-msg>

					<mat-form-field appearance="outline">
						<mat-label>Old password</mat-label>
						<input matInput formControlName="old_password" type="password">
						<mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>
						<mat-error>
							Old password required
						</mat-error>
					</mat-form-field>

					<error-msg [errors]="apiErrors.old_password"></error-msg>

					<mat-form-field appearance="outline">
						<mat-label>New Password</mat-label>
						<input matInput formControlName="new_password1" type="password">
						<mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>
						<mat-error>
							New password is required
						</mat-error>
					</mat-form-field>

					<mat-form-field appearance="outline">
						<mat-label>New Password (Confirm)</mat-label>
						<input matInput formControlName="new_password2" type="password">
						<mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>
						<mat-error *ngIf="passwordForm.get('new_password2').hasError('required')">
							Password confirmation is required
						</mat-error>
						<mat-error *ngIf="!passwordForm.get('new_password2').hasError('required') &&
							passwordForm.get('new_password2').hasError('passwordsNotMatching')">
							Passwords must match
						</mat-error>
					</mat-form-field>

					<error-msg [errors]="apiErrors.new_password2"></error-msg>

					<button mat-raised-button color="warn" class="submit-button" aria-label="CREATE AN ACCOUNT"
						[disabled]="passwordForm.invalid" (click)="updatePassword()">
						UPDATE PASSWORD
					</button>
				</form>
			</div>
		</div> -->

	</div>
	<!-- / CONTENT -->

</div>