@import "src/@fuse/scss/fuse";

:host {
	width: 100%;
}

#profile {
	.header {
		height: 200px;
		min-height: 200px;
		max-height: 200px;
		background: url('/assets/images/backgrounds/dark-material-bg.jpg') no-repeat 0 45%;
		background-size: cover;

		.profile-image {
			margin-right: 24px;

			@include media-breakpoint('sm') {
				margin: 0 0 16px 0;
			}
		}

		.name {
			font-size: 34px;
			color: #FFFFFF;

			@include media-breakpoint('sm') {
				margin-bottom: 32px;
			}
		}

		.actions {

			button {
				text-transform: none;
				padding: 0 16px;
				margin: 0 0 0 8px;
			}
		}
	}

	.content {
		flex: 1;

		mat-tab-group {
			height: 100%;

			.mat-tab-body-wrapper {
				flex-grow: 1;
			}
		}
	}

	.action-list {
		width: 90%;
		
		@include mat-elevation(10);
	}

	#register-form-wrapper {
		width: 100%;
		min-width: 400px;
		max-width: 100%;
		overflow: auto;
		-webkit-overflow-scrolling: touch;

		@include mat-elevation(16);

		@include media-breakpoint('sm') {
			width: 360px;
			min-width: 360px;
			max-width: 360px;
		}

		@include media-breakpoint('xs') {
			width: 100%;
			min-width: 100%;
			max-width: 100%;
		}

		#register-form {
			flex-direction: row;
			box-sizing: border-box;
			display: flex;
			place-content: stretch center;
			align-items: stretch;
			width: 100%;
			padding: 30px 48px 48px 48px;

			@include media-breakpoint('xs') {
				text-align: center;
				padding: 24px;
			}

			.logo {
				width: 128px;
				margin: 32px auto;
			}

			.title {
				font-size: 21px;
			}

			.description {
				padding-top: 8px;
			}
			
			.form-1 {
				flex-direction: column;
				box-sizing: border-box;
				display: flex;
				place-content: stretch flex-start;
				align-items: stretch;
				width: 50%;
			}

			.form-2 {
				flex: 1;
			}

			form {
				width: 100%;
				padding-top: 32px;

				mat-form-field {
					width: 100%;

					@include media-breakpoint('xs') {
						width: 80%;
					}
				}

				mat-checkbox {
					margin: 0;
				}

				.terms {
					margin: 16px 0 32px 0;

					a {
						font-size: 16px;
						margin-left: 4px;
					}
				}

				.submit-button {
					width: 100%;
					margin: 16px auto;
					display: block;

					@include media-breakpoint('xs') {
						width: 80%;
					}
				}
			}

			.separator {
				font-size: 15px;
				font-weight: 600;
				margin: 24px auto;
				position: relative;
				overflow: hidden;
				width: 100px;
				text-align: center;

				.text {
					display: inline-flex;
					position: relative;
					padding: 0 8px;
					z-index: 9999;

					&:before,
					&:after {
						content: '';
						display: block;
						width: 30px;
						position: absolute;
						top: 10px;
						border-top: 1px solid;
					}

					&:before {
						right: 100%;
					}

					&:after {
						left: 100%;
					}
				}
			}

			button {

				&.google,
				&.facebook {
					width: 70%;
					text-transform: none;
					color: #FFFFFF;
					font-size: 13px;

					@include media-breakpoint('xs') {
						width: 60%;
					}

					mat-icon {
						color: #FFFFFF;
						margin: 0 8px 0 0;
					}
				}

				&.google {
					background-color: #D73D32;
					margin-bottom: 8px;
				}

				&.facebook {
					background-color: rgb(63, 92, 154);
				}
			}
		}
	}

	.red-font {
		color: red;
	}

	.profile-action {
		cursor: pointer;
	}
}

@media screen and (max-width: 720px) {
	.small-screen-profile {
		visibility: visible;
	}

	.normal-screen-profile {
		display: none;
	}
}

@media screen and (min-width: 720px) {
	.small-screen-profile {
		visibility: hidden;
	}

	.normal-screen-profile {
		display: block;
	}
}
