<h2 mat-dialog-title>Create Evidence<span class="http-error ml-24" *ngIf="httpError">{{ httpError }}</span></h2>
<mat-dialog-content class="mat-typography dialog-form-fields m-4">
	<form class="p-0 mr-0" fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto" name="form" [formGroup]="form">

		<div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

			<mat-form-field appearance="outline" fxFlex="100">
				<mat-label>Evidence site</mat-label>
				<mat-select placeholder="Evidence Location" formControlName="location_id" required>
					<mat-option *ngFor="let site of sitesList" [value]="site.id">{{ site.name }}</mat-option>
				</mat-select>
			</mat-form-field>

		</div>

		<div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

			<mat-form-field appearance="outline" fxFlex="100">
				<mat-label>Name</mat-label>
				<input matInput formControlName="name" #search required>
				<mat-icon matSuffix class="secondary-text">domain</mat-icon>
				<mat-error>Name is required!</mat-error>
			</mat-form-field>

		</div>

		<div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

			<mat-form-field appearance="outline" fxFlex="100">
				<mat-label>Date</mat-label>
				<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
				<input matInput [matDatepicker]="picker" formControlName="date" required>
				<mat-datepicker #picker></mat-datepicker>
				<!-- <mat-icon matSuffix class="secondary-text">domain</mat-icon> -->
				<mat-error>Date is required!</mat-error>
			</mat-form-field>

		</div>
		<input formControlName="location_id" type="hidden" required>
	</form>
</mat-dialog-content>
<mat-dialog-actions align="end" class="p-12 mt-12">
	<button mat-raised-button type="button" color="accent" [disabled]="!form.valid"
		(click)="saveEvidence()">Save</button>
	<button mat-raised-button mat-dialog-close type="button">Cancel</button>
</mat-dialog-actions>