<div *ngIf="!result" class="content">
    <div>
        <h2 mat-dialog-title>Fail!</h2>
        <h3>Your payment could not be processed. Please check the credit card information you entered and try again.</h3>
    </div>
    <div fxLayoutAlign="center" class="btn-ok">
        <button mat-raised-button mat-dialog-close type="button">Ok</button>
    </div>
</div>

<div *ngIf="result" class="content">
    <div>
        <h2 mat-dialog-title>Success!</h2>
        <h3>Your payment was successful! We have sent a receipt to your email address</h3>
    </div>
    <div fxLayoutAlign="center" class="btn-ok">
        <button mat-raised-button mat-dialog-close type="button">Ok</button>
    </div>
</div>

