<div class="page-layout simple fullwidth" id="list-page">

	<div class="header dark-bar" fxLayout="row" fxLayoutAlign="space-between center">
		<div fxFlex="40" class="header-title">
			<!-- <button mat-icon-button class="sidebar-toggle mr-8" fxHide.gt-md
				(click)="toggleSidebar('simple-right-sidebar-1')">
				<mat-icon>menu</mat-icon>
			</button> -->
			<p fxLayoutAlign="start">
				<button mat-icon-button class="mr-0 mr-sm-16" [routerLink]="'/management/evidences'">
					<mat-icon>arrow_back</mat-icon>
				</button>
				<span class="h2">Evidence</span>
			</p>
		</div>
		<!-- <div class="search-wrapper" fxFlex fxLayout="row" fxLayoutAlign="start center">
			<div class="search" fxLayout="row" fxLayoutAlign="start center">
				<mat-icon class="search-icon">search</mat-icon>
				<input placeholder="Search" (keyup)="applyFilter($event.target.value)" fxFlex> -->
		<!-- <button mat-icon-button color="accent" (click)="searchSites()">
					<mat-icon>search</mat-icon>
				</button> -->
		<!-- </div>
		</div> -->
		<p>
			<button mat-icon-button class="mr-0 mr-sm-16 site-delete-btn" (click)="deleteEvidence()">
				<mat-icon>delete</mat-icon>
			</button>
			<button mat-icon-button class="mr-0 mr-sm-16 site-delete-btn" (click)="addEvidence()">
				<mat-icon>cloud_upload</mat-icon>
			</button>
		</p>

	</div>
	<div class="content p-12">
		<mat-tab-group>
			<mat-tab label="Details">
				<div flexLayout="row" fxLayoutAlign="start" class="site-form-content">
					<div class="m-4 dialog-form-fields" fxFlex="60">
						<form class="p-0 mr-0 mt-12" fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto" name="form"
							[formGroup]="form">
							<div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

								<mat-form-field appearance="outline" fxFlex="100">
									<mat-label>Evidence Location</mat-label>
									<mat-select placeholder="Evidence Location" formControlName="location_id"
										(selectionChange)="selectionChange($event.value)" required>
										<mat-option *ngFor="let site of sitesList" [value]="site.id">{{ site.name }}
										</mat-option>
									</mat-select>
								</mat-form-field>

							</div>

							<div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

								<mat-form-field appearance="outline" fxFlex="100">
									<mat-label>Name</mat-label>
									<input matInput formControlName="name" #search required>
									<mat-icon matSuffix class="secondary-text">domain</mat-icon>
									<mat-error>Name is required!</mat-error>
								</mat-form-field>

							</div>

							<div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

								<mat-form-field appearance="outline" fxFlex="100">
									<mat-label>Date</mat-label>
									<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
									<input matInput [matDatepicker]="picker" formControlName="date" required>
									<mat-datepicker #picker></mat-datepicker>
									<!-- <mat-icon matSuffix class="secondary-text">domain</mat-icon> -->
									<mat-error>Date is required!</mat-error>
								</mat-form-field>

							</div>
							<p style="margin: 0; text-align: right">
								<button mat-raised-button type="button" color="accent" [disabled]="!form.valid"
									(click)="saveEvidence()" class="mr-12">Save</button>
								<button mat-raised-button [routerLink]="'/management/evidences'" type="button">Cancel</button>
							</p>
						</form>
					</div>
					<div fxFlex="40" class="dialog-map m-12">
						<p *ngIf="evidence"><span class="accent text-boxed">City</span>{{ evidence?.location.city }}</p>
						<p *ngIf="evidence"><span class="accent text-boxed">Address</span>{{ evidence?.location.address }}</p>
						<p *ngIf="dataSource"><span class="green text-boxed">Media</span>{{ dataSource?.data.length + ' files' }}</p>
					</div>
				</div>
			</mat-tab>
			<mat-tab label="Media">
				<div class="loading-shade" *ngIf="isLoadingResults">
					<mat-spinner *ngIf="isLoadingResults"></mat-spinner>
				</div>
				<table mat-table [dataSource]="dataSource">
					<!-- ID Column -->
					<ng-container matColumnDef="name">
						<th mat-header-cell *matHeaderCellDef> Name </th>
						<td mat-cell *matCellDef="let row"> {{ row.name }} </td>
					</ng-container>

					<!-- Progress Column -->
					<ng-container matColumnDef="date">
						<th mat-header-cell *matHeaderCellDef> Date </th>
						<td mat-cell *matCellDef="let row"> {{ row.date | date }} </td>
					</ng-container>

					<ng-container matColumnDef="actions">
						<th mat-header-cell *matHeaderCellDef> Actions </th>
						<td mat-cell *matCellDef="let row">
							<button (click)="$event.stopPropagation()" mat-icon-button
								[matMenuTriggerFor]="evidenceActionsCard" aria-label="more">
								<mat-icon>more_vert</mat-icon>
							</button>

							<mat-menu #evidenceActionsCard="matMenu">
								<a style="text-decoration: none" mat-menu-item [href]="row.media_url">
									<mat-icon>cloud_download</mat-icon>
									<span>Download</span>
								</a>
								<button mat-menu-item (click)="editEvidenceMedia(row)">
									<mat-icon>edit</mat-icon>
									<span>Edit</span>
								</button>
								<button mat-menu-item (click)="deleteEvidenceMedia(row)">
									<mat-icon>close</mat-icon>
									<span>Delete</span>
								</button>
							</mat-menu>
						</td>
					</ng-container>

					<!-- Name Column -->
					<!-- <ng-container matColumnDef="city">
				<th mat-header-cell *matHeaderCellDef> City </th>
				<td mat-cell *matCellDef="let row"> {{ row.city }} </td>
			</ng-container>

			<ng-container matColumnDef="state">
				<th mat-header-cell *matHeaderCellDef> State </th>
				<td mat-cell *matCellDef="let row"> {{ row.state }} </td>
			</ng-container>

			<ng-container matColumnDef="zip">
				<th mat-header-cell *matHeaderCellDef> ZIP </th>
				<td mat-cell *matCellDef="let row"> {{ row.zip }} </td>
			</ng-container> -->

					<!-- Color Column -->
					<!-- <ng-container matColumnDef="cameras">
				<th mat-header-cell *matHeaderCellDef> Cameras </th>
				<td mat-cell *matCellDef="let row">
					<mat-chip-list>
						<mat-chip color="accent" selected>{{ row.cameras }}</mat-chip>
					</mat-chip-list>
				</td>
			</ng-container> -->

					<tr mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></tr>
					<tr mat-row *matRowDef="let row; columns: displayedColumns;" class="site">
					</tr>
				</table>
				<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
			</mat-tab>
		</mat-tab-group>
	</div>
</div>