@import "src/@fuse/scss/fuse";

:host {
	width: 100%;

	.search-wrapper {
		border-radius: 24px;
		max-width: 50%;
		overflow: hidden;
		@include mat-elevation(1);

		.search {
			width: 100%;
			height: 48px;
			line-height: 48px;
			padding: 0 18px;

			input {
				height: 48px;
				min-height: 48px;
				max-height: 48px;
				padding: 0 16px;
				border: none;
				outline: none;
			}
		}
	}
}

.loading-shade {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 56px;
	right: 0;
	background: rgba(0, 0, 0, 0.15);
	z-index: 1;
	display: flex;
	align-items: center;
	justify-content: center;
}

table {
	width: 100%;
}

.mat-form-field {
	font-size: 14px;
	width: 100%;
}

td, th {
	width: 25%;
}

.site {
	position: relative;
	cursor: pointer;
	height: 84px;
}

.header {
	min-height: 60px !important;
	height: 60px !important;
	max-height: 60px !important;
}

.header {
	min-height: 60px !important;
	height: 60px !important;
	max-height: 60px !important;
	flex-direction: row;
	box-sizing: border-box;
	display: flex;
	place-content: stretch center;
	align-items: stretch;
}

.header-title {
	flex-direction: column;
	box-sizing: border-box;
	display: flex;
	place-content: stretch flex-start;
	align-items: stretch;
	flex: 1 0 85%;
}