<div id="layers-component" [style.right]="10 + padding + 'px'">
	<mat-selection-list #options style="padding-top: 0">
		<mat-list-option matTooltip="{{ (l.enabled ? 'Hide ' : 'Show ') + l.name }}" *ngFor="let l of layers" (click)="toggleLayer(l)">
			<mat-icon style="padding-top: 2px; font-size: 20px">{{ l.icon }}</mat-icon>
		</mat-list-option>
	</mat-selection-list>
</div>