<div class="page-layout simple fullwidth" id="list-page">

	<div class="header dark-bar" fxLayout="row" fxLayoutAlign="space-between center">
		<div fxFlex="40" class="header-title">
			<p fxLayoutAlign="start"><span class="h2 ml-24">Evidences</span></p>
		</div>
		<div class="search-wrapper" fxFlex fxLayout="row" fxLayoutAlign="start center">
			<div class="search" fxLayout="row" fxLayoutAlign="start center">
				<mat-icon class="search-icon">search</mat-icon>
				<input placeholder="Search" (keyup)="applyFilter($event.target.value)" fxFlex>
			</div>
		</div>
		<p>
			<button mat-icon-button class="mr-0 mr-sm-16 site-delete-btn" (click)="refreshEvidences()">
				<mat-icon>refresh</mat-icon>
			</button>
			<button mat-icon-button class="mr-0 mr-sm-16 site-delete-btn" (click)="addEvidence()">
				<mat-icon>add</mat-icon>
			</button>
		</p>

	</div>
	<div class="content p-12">
		<div class="loading-shade" *ngIf="isLoadingResults">
			<mat-spinner *ngIf="isLoadingResults"></mat-spinner>
		</div>
		<table mat-table [dataSource]="dataSource">
			<!-- ID Column -->
			<ng-container matColumnDef="name">
				<th mat-header-cell *matHeaderCellDef> Name </th>
				<td mat-cell *matCellDef="let row"> {{ row.name }} </td>
			</ng-container>

			<!-- Progress Column -->
			<ng-container matColumnDef="date">
				<th mat-header-cell *matHeaderCellDef> Date </th>
				<td mat-cell *matCellDef="let row"> {{ row.date | date }} </td>
			</ng-container>

			
			<tr mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></tr>
			<tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="evidenceDetails(row)" class="site">
			</tr>
		</table>
		<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
	</div>
</div>