<agm-map [mapTypeId]="'satellite'" [mapTypeControl]="true" (mapClick)="mapClick($event)" [rotateControl]="true"
	(centerChange)="centerChange($event)" (zoomChange)="zoomChange($event)" (mapReady)="_mapReady($event)"
	[styles]="mapStyles" [streetViewControl]="false">
	<agm-marker *ngIf="selectedSite && currentZoom > 17" [latitude]="selectedSite.lat" [longitude]="selectedSite.lon"
		[iconUrl]="{
			url: '/assets/icons/markers/location.svg',
			scaledSize: {
				width: 25,
				height: 25
			}
		}"></agm-marker>
	<div *ngFor="let site of sites">
		<agm-marker *ngIf="site.cameras.length === 0" [iconUrl]="{
			url: '/assets/icons/markers/location.svg',
			scaledSize: {
				width: 25,
				height: 25
			}
		}" [latitude]="site.lat" [longitude]="site.lon" (markerClick)="mouseClick(site)">
		</agm-marker>
	</div>
	<agm-marker-cluster *ngFor="let site of sites" [minimumClusterSize]="1" [maxZoom]="getClusterMaxZoom(site.id)"
		imagePath="/assets/icons/markers/1/m">
		<agm-marker *ngFor="let camera of site.cameras"
			[iconUrl]="openCameraInfoWindow === camera.id ? selectedCameraIcon : cameraIcon" [latitude]="camera.lat"
			[longitude]="camera.lon" (markerClick)="onMarkerClick(camera)">
			<agm-info-window *ngIf="openCameraInfoWindow === camera.id" [isOpen]="true" [disableAutoPan]="true">
				<p class="info-action-container">
					<span class="h3">{{ camera.name }}</span>
					<mat-icon class="info-action details" (click)="details(camera, site)">edit</mat-icon>
					<!-- <mat-icon class="info-action delete" (click)="delete(camera)">delete</mat-icon> -->
				</p>
				<!-- <player [left]="20" *ngIf="camera.id === playerService.activeCamera?.id" [camera]="camera"
					[size]="playerSize" #player></player> -->
				<!-- <p class="info-action-container"> -->

				<!-- <span class="info-action details" >Details</span>
					<span class="info-action delete" >Delete</span> -->
				<!-- </p> -->
			</agm-info-window>
		</agm-marker>
	</agm-marker-cluster>
	<agm-marker-cluster *ngIf="layers['p-c']" [imagePath]="'/assets/icons/markers/2/m'">
		<agm-marker *ngFor="let pCamera of publicCameras | async" [latitude]="pCamera.lat" [longitude]="pCamera.lon"
			[iconUrl]="cameraIconPublic" (markerClick)="onMarkerClick(pCamera, true)">
			<agm-info-window *ngIf="openCameraInfoWindow === pCamera.id" [isOpen]="true" [disableAutoPan]="true">
				<p class="info-action-container">
					<span class="h3">{{ pCamera.name }}</span>
				</p>
				<player [left]="20" *ngIf="pCamera.id === playerService.activeCamera?.id" [size]="playerSize" #player></player>
			</agm-info-window>
		</agm-marker>
	</agm-marker-cluster>
</agm-map>
<layers (layerChanged)="layers[$event.type]=$event.enabled" [padding]="selectedSite ? 240 : 0"></layers>