<h2 mat-dialog-title>{{ title }}<span class="http-error ml-24" *ngIf="httpError">{{ httpError }}</span></h2>
<div fxLayoutAlign="start" class="site-form-content">
    <div class="dialog-map m-4" fxFlex="60" fxFlex.lt-md="100">
        <div id="map-container">
            <site-map [site]="currentSite" [showSite]="!cameraToEdit" [showCameras]="true"
                      (siteDragEnd)="dragEnd($event)" [selectedCameraId]="cameraToEdit?.id"
                      (positionLoaded)="positionLoaded($event)" (selectedCameraDragEnd)="cameraDragEnd($event)"
                      [selectedCameraDrag]="true" [icon]="3"></site-map>
        </div>
        <mat-dialog-actions align="end" class="p-12 mt-12">
            <button mat-raised-button type="button" color="accent" [disabled]="!form.valid"
                    (click)="saveCamera()">Save</button>
            <button mat-raised-button mat-dialog-close type="button">Cancel</button>
        </mat-dialog-actions>
    </div>
    <mat-dialog-content class="mat-typography dialog-form-fields m-4" fxFlex="40" fxFlex.lt-md="100">
        <form class="p-0 mr-0" fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto" name="form" [formGroup]="form">

            <div fxLayout="row">

                <mat-form-field appearance="outline" fxFlex="100">
                    <mat-label>Camera Location</mat-label>
                    <mat-select placeholder="Camera Location" formControlName="location"
                        (selectionChange)="selectionChange($event)" required>
                        <mat-option *ngFor="let site of sitesList" [value]="site.id">{{ site.name }}</mat-option>
                    </mat-select>
                </mat-form-field>

            </div>

            <div fxLayout="row">

                <mat-form-field appearance="outline" fxFlex="100">
                    <mat-label>Camera Name</mat-label>
                    <input matInput formControlName="name" #search required>
                    <mat-icon matSuffix class="secondary-text">domain</mat-icon>
                    <mat-error>Camera Name is required!</mat-error>
                </mat-form-field>

            </div>

            <div fxLayout="row">

                <mat-form-field appearance="outline" fxFlex="100">
                    <mat-label>Camera Make</mat-label>
                    <input matInput formControlName="make">
                    <mat-icon matSuffix class="secondary-text">branding_watermark</mat-icon>
                </mat-form-field>

            </div>


            <div fxLayout="row">

                <div class="add-camera-info">
                    Position your cameras by clicking and dragging the cameras to the appropriate location on your
                    building.
                </div>

            </div>


			<!--div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

				<mat-form-field appearance="outline" fxFlex="100">
					<mat-label>Model</mat-label>
					<input matInput formControlName="model">
					<mat-icon matSuffix class="secondary-text">branding_watermark</mat-icon>
				</mat-form-field>

			</div>

			<div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

				<mat-form-field appearance="outline" fxFlex="100">
					<mat-label>Resolution</mat-label>
					<mat-select placeholder="Resolution" formControlName="resolution">
						<mat-option *ngFor="let r of resolutionList" [value]="r.id">{{ r.value }}</mat-option>
					</mat-select>
				</mat-form-field>

			</div>
			<div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

				<mat-form-field appearance="outline" fxFlex="100">
					<mat-label>Height (ft)</mat-label>
					<input matInput formControlName="height_ft">
					<mat-icon matSuffix class="secondary-text">straighten</mat-icon>
					<mat-error>Invalid value!</mat-error>
				</mat-form-field>

			</div>

			<div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

				<mat-form-field appearance="outline" fxFlex="100">
					<mat-label>Distance (ft)</mat-label>
					<input matInput formControlName="distance_ft">
					<mat-icon matSuffix class="secondary-text">straighten</mat-icon>
					<mat-error>Invalid value!</mat-error>
				</mat-form-field>

			</div>

			<div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

				<mat-form-field appearance="outline" fxFlex="100">
					<mat-label>Field of View</mat-label>
					<input matInput formControlName="fov">
					<mat-icon matSuffix class="secondary-text">360</mat-icon>
					<mat-error>Invalid value!</mat-error>
				</mat-form-field>

            </div> -->

            <input formControlName="lat" type="hidden" required>
            <input formControlName="lon" type="hidden" required>
        </form>
    </mat-dialog-content>
</div>