@import "src/@fuse/scss/fuse";

register-2 {
    .terms-action {
        cursor: pointer;
    }

	#register {
		width: 100%;
        overflow: hidden;
        background-size: cover !important;
        background-position: center !important;
        
        #register-intro {
			padding: 128px;
			padding-left: 36px;
			background-size: cover !important;
        	background-position: center !important;

			@include media-breakpoint('sm') {
				padding: 128px 64px;
			}

			.logo {
				width: 130px;
				//margin-bottom: 32px;
				position: absolute;
				bottom: 18px;
			}

			.title {
				font-size: 42px;
				font-weight: 300;
				line-height: 1;
			}

			.description {
				padding-top: 16px;
				font-size: 18px;
                @include media-breakpoint('sm') {
                    font-size: 14px;
                }
			}
		}

		#register-form-wrapper {
			width: 400px;
			min-width: 400px;
			max-width: 400px;
			overflow: auto;
			-webkit-overflow-scrolling: touch;

			@include mat-elevation(16);

			@include media-breakpoint('sm') {
				width: 360px;
				min-width: 360px;
				max-width: 360px;
			}

			@include media-breakpoint('xs') {
				width: 100%;
				min-width: 100%;
				max-width: 100%;
			}

			#register-form {
				padding: 20px 48px 48px 48px;

				@include media-breakpoint('xs') {
					text-align: center;
					padding: 24px;
				}

				.logo {
					width: 260px;
					margin: 32px auto;
				}

				.title {
					font-size: 15px;
					text-align: center;
				}

				.description {
					padding-top: 8px;
				}

				form {
					width: 100%;
					padding-top: 32px;

					mat-form-field {
						width: 100%;

						@include media-breakpoint('xs') {
							width: 80%;
						}
					}

					mat-checkbox {
						margin: 0;
					}

					.terms {
						margin: 16px 0 32px 0;

						a {
							font-size: 16px;
							margin-left: 4px;
						}
					}

					.submit-button {
						width: 100%;
						margin: 16px auto;
						display: block;

						@include media-breakpoint('xs') {
							width: 80%;
						}
					}
				}

				.separator {
					font-size: 15px;
					font-weight: 600;
					margin: 24px auto;
					position: relative;
					overflow: hidden;
					width: 100px;
					text-align: center;

					.text {
						display: inline-flex;
						position: relative;
						padding: 0 8px;
						z-index: 9999;

						&:before,
						&:after {
							content: '';
							display: block;
							width: 30px;
							position: absolute;
							top: 10px;
							border-top: 1px solid;
						}

						&:before {
							right: 100%;
						}

						&:after {
							left: 100%;
						}
					}
				}

				button {

					&.google,
					&.facebook {
						width: 70%;
						text-transform: none;
						color: #FFFFFF;
						font-size: 13px;

						@include media-breakpoint('xs') {
							width: 60%;
						}

						mat-icon {
							color: #FFFFFF;
							margin: 0 8px 0 0;
						}
					}

					&.google {
						background-color: #D73D32;
						margin-bottom: 8px;
					}

					&.facebook {
						background-color: rgb(63, 92, 154);
					}
				}
			}
		}
	}
}
