<div id="register" class="inner-scroll" fxLayout="row" fxLayoutAlign="start">

    <div id="register-intro" class="dynamic-bg" fxFlex fxHide fxShow.gt-xs
         [ngStyle]="{'background' : 'linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(' + backgroundImage + ') no-repeat'}">

        <div class="title" [@animate]="{value:'*',params:{delay:'50ms',y:'25px'}}">
            The {{ departmentName }}'s Camera Registry
        </div>

        <div class="description" [@animate]="{value:'*',params:{delay:'100ms',y:'25px'}}">
            Registering your security cameras with the {{ departmentName }} allows the department to quickly and efficiently investigate incidents that may have occurred in and around your location. Your support of this program will help the department keep our community safe for all of its citizens.

        </div>

        <div class="description" [@animate]="{value:'*',params:{delay:'100ms',y:'25px'}}">
            <ul>
                <li>Registration typically takes under 5 minutes</li>
                <li>The information you provide is accessible only by authorized personnel at the police department</li>
                <li>The information will only be shared with public safety personnel, not third parties</li>
                <li>Helps investigators to request recorded video of criminal incidents, to assist in investigations</li>
            </ul>
        </div>

    </div>


    <div id="register-form-wrapper" fusePerfectScrollbar [@animate]="{value:'*',params:{delay:'300ms',x:'100%'}}">

        <div id="register-form">

            <div class="logo">
                <img src="assets/images/logos/fusus-registry-logo.svg">
            </div>

            <div class="title">CREATE AN ACCOUNT</div>

            <form name="registerForm" [formGroup]="registerForm" novalidate>

                <p class="auth-error" *ngIf="apiError.non_field_errors">{{ apiError.non_field_errors }}</p>

                <mat-form-field appearance="outline">
                    <mat-label>First Name</mat-label>
                    <input matInput formControlName="first_name">
                    <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                    <mat-error>
                        Name is required
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Last Name</mat-label>
                    <input matInput formControlName="last_name">
                    <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                    <mat-error>
                        Name is required
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Organization Name</mat-label>
                    <input matInput formControlName="organization_name">
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="email">
                    <mat-icon matSuffix class="secondary-text">mail</mat-icon>
                    <mat-error *ngIf="registerForm.get('email').hasError('required')">
                        Email is required
                    </mat-error>
                    <mat-error *ngIf="registerForm.get('email').hasError('email')">
                        Please enter a valid email address
                    </mat-error>
                </mat-form-field>

                <p class="auth-error" *ngIf="apiError.email">{{ apiError.email }}</p>

                <mat-form-field appearance="outline">
                    <mat-label>Password</mat-label>
                    <input matInput type="password" formControlName="password1">
                    <mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>
                    <mat-error>
                        Password is required
                    </mat-error>
                </mat-form-field>

                <p class="auth-error" *ngIf="apiError.password1">{{ apiError.password1 }}</p>

                <mat-form-field appearance="outline">
                    <mat-label>Password (Confirm)</mat-label>
                    <input matInput type="password" formControlName="password2">
                    <mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>
                    <mat-error *ngIf="registerForm.get('password2').hasError('required')">
                        Password confirmation is required
                    </mat-error>
                    <mat-error *ngIf="!registerForm.get('password2').hasError('required') &&
							registerForm.get('password2').hasError('passwordsNotMatching')">
                        Passwords must match
                    </mat-error>
                </mat-form-field>

                <!-- <p style="text-align: center; margin: 0">
                    <mat-checkbox class="m-12" #terms [checked]="accepted" [disabled]="!wasRead"></mat-checkbox>
                    <a class="terms-action" (click)="showTermsOfUses()" target="blank">Accept terms of use</a>
                </p>

                <button mat-raised-button color="accent" class="submit-button" aria-label="CREATE AN ACCOUNT"
                    [disabled]="registerForm.invalid || !terms.checked" (click)="createAccount()">
                    CREATE AN ACCOUNT
                </button> -->

                <button mat-raised-button color="accent" class="submit-button" aria-label="CREATE AN ACCOUNT"
                    [disabled]="registerForm.invalid" (click)="createAccount()">
                    CREATE AN ACCOUNT
                </button>

            </form>

            <div class="register" fxLayout="column" fxLayoutAlign="center center">
                <span class="text">Already have an account?</span>
                <a class="link" [routerLink]="'/login'">Login</a>
            </div>
        </div>
    </div>
</div>