<div *ngIf="!existCamera" class="content">
    <div>
        <h2 mat-dialog-title>Camera Added:</h2>
        <h2>{{ cameraName }}</h2>
        <h3>You can continue adding more cameras</h3>
    </div>
    <div fxLayoutAlign="center" class="btn-ok">
        <button mat-raised-button mat-dialog-close type="button">Ok</button>
    </div>
</div>

<div *ngIf="existCamera" class="content">
    <div>
        <h2 mat-dialog-title>Alert</h2>
        <h3>You already have a camera at this location. Drag the camera icon to another place.</h3>
    </div>
    <div fxLayoutAlign="center" class="btn-ok">
        <button mat-raised-button mat-dialog-close type="button">Ok</button>
    </div>
</div>

