h3 {
    font-size: 18px;
    word-wrap: break-word;
    white-space: pre-wrap;
}

h2 {
    word-wrap: break-word;
    white-space: pre-wrap;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100% !important;
}