<h2 mat-dialog-title>Change Password</h2>

<mat-dialog-content>
	<div id="register-form">
		<form name="passwordForm" [formGroup]="passwordForm" class="m-12" novalidate>
			<error-msg [errors]="apiErrors.non_field_errors"></error-msg>

			<mat-form-field appearance="outline">
				<mat-label>Old password</mat-label>
				<input matInput formControlName="old_password" type="password">
				<mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>
				<mat-error>
					Old password required
				</mat-error>
			</mat-form-field>

			<error-msg [errors]="apiErrors.old_password"></error-msg>

			<mat-form-field appearance="outline">
				<mat-label>New Password</mat-label>
				<input matInput formControlName="new_password1" type="password">
				<mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>
				<mat-error>
					New password is required
				</mat-error>
			</mat-form-field>

			<mat-form-field appearance="outline">
				<mat-label>New Password (Confirm)</mat-label>
				<input matInput formControlName="new_password2" type="password">
				<mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>
				<mat-error *ngIf="passwordForm.get('new_password2').hasError('required')">
					Password confirmation is required
				</mat-error>
				<mat-error *ngIf="!passwordForm.get('new_password2').hasError('required') &&
							passwordForm.get('new_password2').hasError('passwordsNotMatching')">
					Passwords must match
				</mat-error>
			</mat-form-field>

			<error-msg [errors]="apiErrors.new_password2"></error-msg>
		</form>
	</div>
</mat-dialog-content>
<mat-dialog-actions align="end" class="p-12 mt-12">
	<button mat-raised-button color="warn" class="submit-button" aria-label="CREATE AN ACCOUNT"
		[disabled]="passwordForm.invalid" (click)="updatePassword()">
		Update Password
	</button>
	<button mat-raised-button mat-dialog-close type="button">Cancel</button>
</mat-dialog-actions>