<table mat-table [dataSource]="dataSource">
	<!-- ID Column -->
	<ng-container matColumnDef="name">
		<th mat-header-cell *matHeaderCellDef> Name </th>
		<td mat-cell *matCellDef="let row"> {{ row.name }} </td>
	</ng-container>

	<!-- Color Column -->
	<ng-container matColumnDef="actions">
		<th mat-header-cell *matHeaderCellDef> Actions </th>
		<td mat-cell *matCellDef="let row">
			<button mat-icon-button [matMenuTriggerFor]="cameraActionsCard" aria-label="more">
				<mat-icon>more_vert</mat-icon>
			</button>

			<mat-menu #cameraActionsCard="matMenu">
				<button mat-menu-item (click)="editCamera(row)">
					<mat-icon>edit</mat-icon>
					<span>Edit</span>
				</button>
				<button mat-menu-item (click)="deleteCamera(row)">
					<mat-icon>close</mat-icon>
					<span>Delete</span>
				</button>
			</mat-menu>
		</td>
	</ng-container>

	<tr mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></tr>
	<tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selectCamera(row)" class="site">
	</tr>
</table>

<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>