:host {
	background-color: transparent;
}

mat-expansion-panel {
	//background-color: #3a3b3f !important;
}

.fuse-card {
	min-width: 100%;
	border-radius: 0;
	background-color: transparent !important;
	border: 0;
	
	* {
		color: whitesmoke;
	}
}

.pointer {
	cursor: pointer;
}

.selected {
	background-color: rgba(210, 210, 210, 1);
}