<div class="card" *ngIf="site">
	<div class="card-preview">
		<div class="fuse-card">
			<h3 class="m-16 mb-0" style="color: white">Location</h3>
			<div class="p-0 pl-16" fxLayout="row" fxLayoutAlign="space-between center">
				<div class="h1 pr-0">{{ site.name | truncate:12 }}</div>
				<p *ngIf="address">{{ address | json }}</p>
				<div>
					<button mat-icon-button [matMenuTriggerFor]="siteActionsCard" aria-label="more">
						<mat-icon>more_vert</mat-icon>
					</button>

					<mat-menu #siteActionsCard="matMenu">
						<button mat-menu-item (click)="editSite(site)">
							<mat-icon>edit</mat-icon>
							<span>Edit</span>
						</button>
						<button mat-menu-item (click)="deleteSite(site)">
							<mat-icon>close</mat-icon>
							<span>Delete</span>
						</button>
					</mat-menu>
				</div>
			</div>
			<mat-list>
				<h3 style="color: white" mat-subheader>Cameras</h3>
				<mat-list-item *ngFor="let camera of site.cameras" (click)="selectCamera(camera)"
				[class.selected]="selectedCamera && selectedCamera.id === camera.id">
					<mat-icon class="pointer" mat-list-icon>videocam</mat-icon>
					<h4 class="pointer" mat-line>{{ camera.name }}</h4>
					<button mat-icon-button [matMenuTriggerFor]="cameraActionsCard" aria-label="more">
						<mat-icon>more_vert</mat-icon>
					</button>

					<mat-menu #cameraActionsCard="matMenu">
						<button mat-menu-item (click)="editCamera(camera)">
							<mat-icon>edit</mat-icon>
							<span>Edit</span>
						</button>
						<button mat-menu-item (click)="deleteCamera(camera)">
							<mat-icon>close</mat-icon>
							<span>Delete</span>
						</button>
					</mat-menu>
				</mat-list-item>
			</mat-list>
		</div>		
	</div>
</div>