<div id="reset-password" class="inner-scroll dynamic-bg" fxLayout="row" fxLayoutAlign="start" [ngStyle]="{'background' : 'url(' + backgroundImage + ') no-repeat'}">

	<div id="reset-password-intro" fxFlex fxHide fxShow.gt-xs>

		<!-- <div class="title" [@animate]="{value:'*',params:{delay:'50ms',y:'25px'}}">
			Welcome to the FUSE!
		</div>

		<div class="description" [@animate]="{value:'*',params:{delay:'100ms',y:'25px'}}">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ullamcorper nisl erat,
			vel convallis elit fermentum pellentesque. Sed mollis velit facilisis facilisis viverra.
		</div> -->

	</div>

	<div id="reset-password-form-wrapper" fusePerfectScrollbar [@animate]="{value:'*',params:{delay:'300ms',x:'100%'}}">

		<div id="reset-password-form">

			<div class="logo">
				<img src="assets/images/logos/fusus-registry-logo.svg">
			</div>

			<error-msg [errors]="apiErrors.non_field_errors"></error-msg>

			<div class="title">RESET YOUR PASSWORD</div>

			<form name="resetPasswordForm" [formGroup]="resetPasswordForm" novalidate>

				<!-- <mat-form-field appearance="outline">
					<mat-label>Email</mat-label>
					<input matInput formControlName="email">
					<mat-icon matSuffix class="secondary-text">mail</mat-icon>
					<mat-error *ngIf="resetPasswordForm.get('email').hasError('required')">
						Email is required
					</mat-error>
					<mat-error *ngIf="resetPasswordForm.get('email').hasError('email')">
						Please enter a valid email address
					</mat-error>
				</mat-form-field> -->

				<mat-form-field appearance="outline">
					<mat-label>Password</mat-label>
					<input matInput type="password" formControlName="password">
					<mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>
					<mat-error>
						Password is required
					</mat-error>
				</mat-form-field>

				<error-msg [errors]="apiErrors?.new_password2"></error-msg>
				<!-- <p class="auth-error" *ngIf="apiErrors.new_password2">{{ apiErrors.new_password2 }}</p> -->

				<mat-form-field appearance="outline">
					<mat-label>Password (Confirm)</mat-label>
					<input matInput type="password" formControlName="passwordConfirm">
					<mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>
					<mat-error *ngIf="resetPasswordForm.get('passwordConfirm').hasError('required')">
						Password confirmation is required
					</mat-error>
					<mat-error *ngIf="!resetPasswordForm.get('passwordConfirm').hasError('required') &&
                                       resetPasswordForm.get('passwordConfirm').hasError('passwordsNotMatching')">
						Passwords must match
					</mat-error>
				</mat-form-field>

				<button mat-raised-button class="submit-button" color="accent" aria-label="RESET MY PASSWORD"
					(click)="resetPassword()" [disabled]="resetPasswordForm.invalid">
					RESET MY PASSWORD
				</button>
			</form>

			<div class="login" fxLayout="row" fxLayoutAlign="center center">
				<a class="link" [routerLink]="'/login'">Go back to login</a>
			</div>

		</div>
	</div>
</div>