@import "src/@fuse/scss/fuse";

reset-password-2 {

	#reset-password {
		width: 100%;
		overflow: hidden;
		background-size: cover !important;
		background-position: center !important;

		#reset-password-intro {
			padding: 128px;
			padding-left: 18px;

			@include media-breakpoint('sm') {
				padding: 128px 64px;
			}

			.logo {
				width: 130px;
				//margin-bottom: 32px;
				position: absolute;
				bottom: 18px;
			}

			.title {
				font-size: 42px;
				font-weight: 300;
				line-height: 1;
			}

			.description {
				padding-top: 16px;
				font-size: 14px;
				max-width: 600px;
			}
		}

		#reset-password-form-wrapper {
			width: 400px;
			min-width: 400px;
			max-width: 400px;
			overflow: auto;
			-webkit-overflow-scrolling: touch;

			@include mat-elevation(16);

			@include media-breakpoint('sm') {
				width: 360px;
				min-width: 360px;
				max-width: 360px;
			}

			@include media-breakpoint('xs') {
				width: 100%;
				min-width: 100%;
				max-width: 100%;
			}

			#reset-password-form {
				padding: 20px 48px 48px 48px;

				@include media-breakpoint('xs') {
					text-align: center;
					padding: 24px;
				}

				.logo {
					font-size: 15px;
					text-align: center;
				}

				.title {
					font-size: 21px;
				}

				.description {
					padding-top: 8px;
				}

				form {
					width: 100%;
					padding-top: 32px;

					mat-form-field {
						width: 100%;

						@include media-breakpoint('xs') {
							width: 80%;
						}
					}

					.submit-button {
						width: 100%;
						margin: 16px auto;
						display: block;

						@include media-breakpoint('xs') {
							width: 80%;
						}
					}
				}

				.login {
					margin: 32px auto 24px auto;
					width: 250px;
					font-weight: 600;

					.text {
						margin-right: 8px;
					}
				}
			}
		}
	}
}
