<div id="mail" class="page-layout carded left-sidebar inner-scroll">

	<!-- TOP BACKGROUND -->
	<div class="top-bg dark-bar"></div>
	<!-- / TOP BACKGROUND -->

	<!-- CENTER -->
	<div class="center">

		<!-- CONTENT HEADER -->
		<div class="header" fxLayout="row" fxLayoutAlign="start center">

			<div class="search-wrapper" fxFlex fxLayout="row" fxLayoutAlign="start center">

				<!-- <button mat-icon-button class="sidebar-toggle" fxHide.gt-md
					(click)="toggleSidebar('mail-ngrx-main-sidebar')">
					<mat-icon>menu</mat-icon>
				</button> -->

				<div class="search" fxLayout="row" fxLayoutAlign="start center">
					<mat-icon class="secondary-text">search</mat-icon>
					<input [formControl]="searchInput" [placeholder]="'Search message by Organization'" fxFlex>
				</div>
			</div>
		</div>
		<!-- / CONTENT HEADER -->

		<!-- CONTENT CARD -->
		<div class="content-card" [ngClass]="{'current-mail-selected':currentMail$ | async}">

			<!-- CONTENT -->
			<div class="content" fxLayout="row">

				<message-list fusePerfectScrollbar fxFlex [messages]="messages$ | async" [selectedMessage]="currentMessage$ | async"></message-list>
				<message-details fusePerfectScrollbar fxFlex [message]="currentMessage$ | async"></message-details>

			</div>
			<!-- / CONTENT -->

		</div>
		<!-- / CONTENT CARD -->

	</div>
	<!-- / CENTER -->

</div>