<div class="page-layout simple tabbed" id="details-page">

	<div class="header dark-bar" fxLayout="row" fxLayoutAlign="space-between center">
		<div fxFlex="40" class="header-title">
			<!-- <button mat-icon-button class="sidebar-toggle mr-8" fxHide.gt-md
				(click)="toggleSidebar('simple-right-sidebar-1')">
				<mat-icon>menu</mat-icon>
			</button> -->
			<p fxLayoutAlign="start">
				<button mat-icon-button class="mr-0 mr-sm-16" [routerLink]="'/management/sites'">
					<mat-icon>arrow_back</mat-icon>
				</button>

				<span class="h2">
					{{ site?.name }}
				</span>
			</p>
		</div>
		<div *ngIf="tab===2" class="search-wrapper" fxFlex fxLayout="row" fxLayoutAlign="start center">

			<div class="search" fxLayout="row" fxLayoutAlign="start center">
				<!-- <mat-icon class="search-icon">search</mat-icon> -->
				<input placeholder="Search" [(ngModel)]="query" fxFlex>
				<button mat-icon-button color="accent" (click)="searchDepartments()">
					<mat-icon>search</mat-icon>
				</button>
			</div>

		</div>
		<p>
			<button *ngIf="tab===1" mat-icon-button class="mr-0 mr-sm-16 site-delete-btn" (click)="addCamera()">
				<mat-icon>add</mat-icon>
			</button>
			<button *ngIf="tab===2" mat-icon-button class="mr-0 mr-sm-16 site-delete-btn"
				(click)="refreshDepartments()">
				<mat-icon>refresh</mat-icon>
			</button>
			<button mat-icon-button class="mr-0 mr-sm-16 site-delete-btn" (click)="deleteSite(site)">
				<mat-icon>delete_outline</mat-icon>
			</button>
		</p>

	</div>

	<div class="content p-12" style="height:100%">
		<mat-tab-group (selectedIndexChange)="tab=$event">
			<mat-tab label="Overview">
				<div fxLayoutAlign="start" class="site-form-content">
                    <div fxFlex="60" fxFlex.lt-md="100" class="dialog-map m-12">
                        <form class="p-0 mr-0 mt-12" [formGroup]="form">
                            <div fxLayout="row" >

                                <mat-form-field appearance="outline" fxFlex="100" style="width: 100%">
                                    <mat-label>Address</mat-label>
                                    <input matInput formControlName="fullAddress" #search>
                                    <mat-icon matSuffix class="secondary-text">directions</mat-icon>
                                    <mat-error>Address is required!</mat-error>
                                </mat-form-field>

                            </div>
                        </form>
                        <div id="map-container" class="pb-12">
                            <site-map #siteMap [site]="site" [showSite]="true" (siteDragEnd)="dragEnd($event)"
                                      (positionLoaded)="positionLoaded($event)" [icon]="1"></site-map>
                        </div>
                        <div fxLayout="row" class="mt-12">
                            <p style="text-align: right; width: 100%">
                                <button mat-raised-button type="button" color="accent" [disabled]="!siteChanged"
                                        (click)="saveSite()" class="mr-12">Save</button>
                                <button mat-raised-button mat-dialog-close type="button"
                                        [routerLink]="'/management/sites'">Cancel</button>
                            </p>
                        </div>
                    </div>
                    <div fxFlex="40" fxFlex.lt-md="100" class="dialog-map m-12">
                        <div class="m-4 dialog-form-fields" fxFlex="100">
                            <form class="p-0 mr-0 mt-12" fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto"
                                name="form" [formGroup]="form">
                                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                                    <mat-form-field appearance="outline" fxFlex="100">
                                        <mat-label>Location Type</mat-label>
                                        <mat-select placeholder="Type" formControlName="type" required>
                                            <mat-option
                                                *ngFor="let type of [
                                                    {txt: 'Corporate/Office Building', value: 'Corporate/Office Building'},
                                                    {txt: 'K-12 School', value: 'K-12 School'},
                                                    {txt: 'College/University Campus', value: 'College/University Campus'},
                                                    {txt: 'Retail Store', value: 'Retail Store'},
                                                    {txt: 'Parking Garage', value: 'Parking Garage'},
                                                    {txt: 'Shopping Mall', value: 'Shopping Mall'},
                                                    {txt: 'City/County Owned', value: 'City/County Owned'},
                                                    {txt: 'Residential Building', value: 'Residential Building'},
                                                    {txt: 'Other', value: 'Other'}
                                                ]"
                                                [value]="type.value">{{ type.txt }}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>

                                </div>

                                <div class="form-field-container" fxLayout="row" fxLayoutAlign="start center"
                                    fxFlex="1 0 auto">

                                    <mat-form-field appearance="outline" fxFlex="1 0 auto" style="width: 100%">
                                        <mat-label>Location name</mat-label>
                                        <input matInput formControlName="name">
                                        <mat-icon matSuffix class="secondary-text">domain</mat-icon>
                                        <mat-error>Name is required!</mat-error>
                                        <p class="http-error field-error">{{ httpErrors?.name }}</p>
                                    </mat-form-field>

                                </div>

                                <!--div class="form-field-container" fxLayout="row" fxLayoutAlign="start center"
                                    fxFlex="1 0 auto">

                                    <mat-form-field appearance="outline" fxFlex="50" class="pr-4" style="width: 48%">
                                        <mat-label>Latitude</mat-label>
                                        <input matInput formControlName="lat" required>
                                        <mat-icon matSuffix class="secondary-text">location_on</mat-icon>
                                        <p class="http-error field-error">{{ httpErrors?.lat }}</p>
                                    </mat-form-field>

                                    <mat-form-field appearance="outline" fxFlex="50" class="pr-4" style="width: 48%">
                                        <mat-label>Longitude</mat-label>
                                        <input matInput formControlName="lon" required>
                                        <mat-icon matSuffix class="secondary-text">location_on</mat-icon>
                                        <p class="http-error field-error">{{ httpErrors?.lon }}</p>
                                    </mat-form-field>

                                </div-->

                                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto" class="mb-12">
                                    <mat-icon class="secondary-text">person</mat-icon>
                                    <div class="h2 secondary-text">Primary Contact</div>
                                </div>

                                <div class="form-field-container" fxLayout="row" fxLayoutAlign="start center"
                                    fxFlex="1 0 auto">

                                    <mat-form-field appearance="outline" fxFlex="100" class="contact-field"
                                        style="width: 100%">
                                        <mat-label>Name</mat-label>
                                        <input matInput formControlName="primary_contact_name">
                                        <mat-icon matSuffix class="secondary-text">person</mat-icon>
                                        <p class="http-error field-error">{{ httpErrors?.primary_contact_name }}</p>
                                    </mat-form-field>

                                </div>

                                <div class="form-field-container" fxLayout="row" fxLayoutAlign="start center"
                                    fxFlex="1 0 auto">

                                    <mat-form-field appearance="outline" fxFlex="100" class="contact-field"
                                        style="width: 100%">
                                        <mat-label>Email</mat-label>
                                        <input matInput formControlName="primary_contact_email">
                                        <mat-icon matSuffix class="secondary-text">email</mat-icon>
                                        <mat-error>Invalid format!</mat-error>
                                        <p class="http-error field-error">{{ httpErrors?.primary_contact_email }}</p>
                                    </mat-form-field>

                                </div>

                                <div class="form-field-container" fxLayout="row" fxLayoutAlign="start center"
                                    fxFlex="1 0 auto">

                                    <mat-form-field appearance="outline" fxFlex="100" style="width: 100%">
                                        <mat-label>Phone</mat-label>
                                        <input class="phone-input" matInput formControlName="primary_contact_phone">
                                        <span class="phone-prefix"
                                            [class.visible]="form.get('primary_contact_phone').value && form.get('primary_contact_phone').value.length > 0">+1</span>
                                        <mat-icon matSuffix class="secondary-text">phone</mat-icon>
                                        <mat-error>Invalid format!</mat-error>
                                        <p class="http-error field-error">{{ httpErrors?.primary_contact_phone }}</p>
                                    </mat-form-field>

                                </div>

                                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto" class="mb-12">
                                    <mat-icon class="secondary-text">person</mat-icon>
                                    <div class="h2 secondary-text">Secondary Contact</div>
                                </div>

                                <div class="form-field-container" fxLayout="row" fxLayoutAlign="start center"
                                    fxFlex="1 0 auto">

                                    <mat-form-field appearance="outline" fxFlex="100" class="contact-field"
                                        style="width: 100%">
                                        <mat-label>Name</mat-label>
                                        <input matInput formControlName="secondary_contact_name">
                                        <mat-icon matSuffix class="secondary-text">person</mat-icon>
                                        <p class="http-error field-error">{{ httpErrors?.secondary_contact_name }}</p>
                                    </mat-form-field>

                                </div>

                                <div class="form-field-container" fxLayout="row" fxLayoutAlign="start center"
                                    fxFlex="1 0 auto">

                                    <mat-form-field appearance="outline" fxFlex="100" class="contact-field"
                                        style="width: 100%">
                                        <mat-label>Email</mat-label>
                                        <input matInput formControlName="secondary_contact_email">
                                        <mat-icon matSuffix class="secondary-text">email</mat-icon>
                                        <mat-error>Invalid format!</mat-error>
                                        <p class="http-error field-error">{{ httpErrors?.secondary_contact_email }}</p>
                                    </mat-form-field>

                                </div>

                                <div class="form-field-container" fxLayout="row" fxLayoutAlign="start center"
                                    fxFlex="1 0 auto">

                                    <mat-form-field appearance="outline" fxFlex="100" style="width: 100%">
                                        <mat-label>Phone</mat-label>
                                        <input class="phone-input" matInput formControlName="secondary_contact_phone">
                                        <span class="phone-prefix"
                                            [class.visible]="form.get('secondary_contact_phone').value && form.get('secondary_contact_phone').value.length > 0">+1</span>
                                        <mat-icon matSuffix class="secondary-text">phone</mat-icon>
                                        <mat-error>Invalid format!</mat-error>
                                        <p class="http-error field-error">{{ httpErrors?.secondary_contact_phone }}</p>
                                    </mat-form-field>

                                </div>
                            </form>
                        </div>
                    </div>
				</div>
			</mat-tab>
			<mat-tab label="Cameras" style="height: 100%">
				<div fxLayoutAlign="start" class="cameras-tab-content" style="height:100%">
					<div class="cameras-wrapper m-4">
						<camera-list [cameras]="site?.cameras" [site]="site" (selectedCamera)="selectedCamera($event)"
							(cameraUpdated)="cameraUpdated($event)" (cameraDeleted)="cameraDeleted($event)" #cameraList>
						</camera-list>
					</div>
					<div class="map-wrapper m-4" fxFlex>
						<site-map [site]="site" [selectedCameraId]="currentCamera?.id" [showCameras]="true"
							[showCameraActions]="true" (cameraDetails)="cameraDetails($event)"
							(deleteCamera)="deleteCamera($event)" #camerasMap></site-map>
					</div>
				</div>
			</mat-tab>
			<mat-tab label="Share" style="height: 100%">
				<departments [query]="query" [site]="site" #departments></departments>
			</mat-tab>
		</mat-tab-group>
	</div>

</div>