@import "src/@fuse/scss/fuse";

:host {
	width: 100%;

	.search-wrapper {
		border-radius: 24px;
		max-width: 50%;
		overflow: hidden;
		@include mat-elevation(1);

		.search {
			width: 100%;
			height: 48px;
			line-height: 48px;
			padding: 0 18px;

			input {
				height: 48px;
				min-height: 48px;
				max-height: 48px;
				padding: 0 16px;
				border: none;
				outline: none;
			}
		}
	}

	.content {

		form {
			width: 100% !important;
			//max-width: 800px !important;
		}

		.form-errors-model {
			flex: 1;

			code {
				background: none !important;
			}
		}

		.horizontal-stepper-wrapper,
		.vertical-stepper-wrapper {
			max-width: 100%;
		}
	}

	#details-page {
		height: 100%;
	}

	site-map {
		width: 100%;
	}

	camera-list {
		//width: 100%;
	}

	.map-tab-body {
		height: 100%;
	}

	.inline-item {
		display: inline-flex;
	}

	.cameras-tab-content {
		flex-direction: row;
		box-sizing: border-box;
		display: flex;
		place-content: stretch center;
		align-items: stretch;
		width: 100%;
	}

	.cameras-wrapper {
		flex-direction: column;
		box-sizing: border-box;
		display: flex;
		place-content: stretch flex-start;
		align-items: stretch;
		width: 40%;
		//flex: 1 0 auto;
	}

	.map-wrapper {
		flex: 1;
	}

	.aux {
		background-color: #333;
		height: 200px;
	}

	.header {
		min-height: 60px !important;
		height: 60px !important;
		max-height: 60px !important;
		flex-direction: row;
		box-sizing: border-box;
		display: flex;
		place-content: stretch center;
		align-items: stretch;
	}

	.header-title {
		flex-direction: column;
		box-sizing: border-box;
		display: flex;
		place-content: stretch flex-start;
		align-items: stretch;
		flex: 1 0 30%;
	}
	
	.site-delete-btn {
		flex: 1;
	}

	.mat-tab-group .mat-tab-body-wrapper {
		height: 100% !important;
	}

	.mat-tab-body {
		height: 100% !important;
	}

	// .site-form-content {
	// 	flex-direction: row;
	// 	box-sizing: border-box;
	// 	display: flex;
	// 	place-content: stretch center;
	// 	align-items: stretch;
	// 	width: 100%;
	// }

	// .dialog-form-fields {
	// 	flex-direction: column;
	// 	box-sizing: border-box;
	// 	display: flex;
	// 	place-content: stretch flex-start;
	// 	align-items: stretch;
	// }

	// .dialog-map {
	// 	flex: 1;
	// }

	@media screen and (max-width: 720px) {
		.site-form-content {
			flex-direction: column !important;
		}

		.cameras-tab-content {
			flex-direction: column !important;
		}

		.dialog-form-fields {
			width: 100%;
			height: 60%;

			form {
				width: 100%;
				height: 250px;
				overflow: auto;

				.form-field-container {
					width: 95% !important;
					margin: auto !important;
				}
			}
		}

		.dialog-map {
			width: 100%;
			height: 300px;

			#map-container {
				height: 400px;
			}
		}

		.cameras-wrapper {
			width: 100%;
		}
	}

	@media screen and (max-width: 959px) {
		
	}

	@media screen and (min-width: 720px) {
		.site-form-content {
			flex-direction: row;
			box-sizing: border-box;
			display: flex;
			place-content: stretch center;
			align-items: stretch;
			width: 100%;
		}

		.cameras-tab-content {
			flex-direction: row;
		}

		.dialog-form-fields {
			flex-direction: column;
			box-sizing: border-box;
			display: flex;
			place-content: stretch flex-start;
			align-items: stretch;
		}

		.dialog-map {
			flex: 1;

			#map-container {
				width: 100%;
				height: 50%;
			}
		}
	}

	// .full-form-field {
	// 	display: block;
	// }

	// .half-form-field {
	// 	display: inline-flex;
	// 	//width: 100%;
	// }
}

map-tab-group {
	height: 100% !important;
}