<table mat-table [dataSource]="dataSource">
	<!-- ID Column -->
	<ng-container matColumnDef="name">
		<th mat-header-cell *matHeaderCellDef> Name </th>
		<td mat-cell *matCellDef="let row"> {{ row.name }} </td>
	</ng-container>

	<ng-container matColumnDef="state">
		<th mat-header-cell *matHeaderCellDef> State </th>
		<td mat-cell *matCellDef="let row"> {{ row.state }} </td>
	</ng-container>

	<!-- Share Column -->
	<ng-container matColumnDef="share">
		<th mat-header-cell *matHeaderCellDef> Share </th>
		<td mat-cell *matCellDef="let row">
			<mat-slide-toggle [(ngModel)]="row.is_shared" (toggleChange)="toggleShared(row)"></mat-slide-toggle>
		</td>
	</ng-container>

	<tr mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></tr>
	<tr mat-row *matRowDef="let row; columns: displayedColumns;" class="department">
	</tr>
</table>
<mat-paginator [length]="totalDepartments" [pageSize]="pageSize" 
[pageSizeOptions]="[5, 10, 25, 100]" (page)="paginatorEvent($event)"></mat-paginator>