<!-- <mat-dialog-actions align="end" class="p-12 mt-12 dialog-actions-container">
    <button mat-icon-button mat-dialog-close tabIndex="-1" class="btn-close">
        <mat-icon>close</mat-icon>
    </button>
</mat-dialog-actions> -->
<h2 mat-dialog-title>{{ stepName }}<span class="http-error ml-24" *ngIf="httpErrors">Action failed</span></h2>

<mat-horizontal-stepper (selectionChange)="stepChange($event)" #stepper>
    <ng-template matStepperIcon="edit"></ng-template>
    <ng-template matStepperIcon="done"></ng-template>

    <mat-step label="Core Upgrade" state="">

        <div fxLayoutAlign="start" class="site-form-content" style="padding: 35px;">
            <div fxFlex="100" fxFlex.lt-md="100" class="dialog-map m-4">
                <div class="logo-form">
                    <img src="assets/images/logos/Fusus_Core.png">
                </div>
                <div class="welcome-txt wt-finish-7">ENHANCE YOUR SECURITY BY SHARING LIVE CAMERA FEEDS</div>
                <div class="welcome-txt wt-finish-5">WITH YOUR POLICE DEPARTMENT</div>
            </div>
        </div>

        <div fxLayoutAlign="start" class="site-form-content">
            <div fxFlex="30" fxFlex.lt-md="100" class="dialog-map m-4">
                <img src="assets/images/learn-more/preconfigure.png" class="logo-form">
                <div class="welcome-txt wt-finish-4">Pre-Configure</div>
                <div class="welcome-txt wt-finish-6">
                    You provide information on your cameras in an easy to fill out form
                </div>
            </div>
            <div fxFlex="5" fxFlex.lt-md="100" class="dialog-map m-4">
                <img src="assets/images/learn-more/arrow.png" class="arrow-img">
            </div>
            <div fxFlex="30" fxFlex.lt-md="100" class="dialog-map m-4">
                <img src="assets/images/learn-more/plug-play.png" class="logo-form">
                <div class="welcome-txt wt-finish-4">Prepare for Shipment</div>
                <div class="welcome-txt wt-finish-6">The team at fusus will work with your Police Department to prepare
                    your fususCORE for shipment</div>
            </div>
            <div fxFlex="5" fxFlex.lt-md="100" class="dialog-map m-4">
                <img src="assets/images/learn-more/arrow.png" class="arrow-img">
            </div>
            <div fxFlex="30" fxFlex.lt-md="100" class="dialog-map m-4">
                <img src="assets/images/learn-more/incident_ready.png" class="logo-form">
                <div class="welcome-txt wt-finish-4">Plug & Play</div>
                <div class="welcome-txt wt-finish-6">Your system can be installed and setup in under an hour with a live
                    phone-based support representative at fusus</div>
            </div>
        </div>

        <div fxFlex="100" fxFlex.lt-md="100" class="dialog-map m-4">
            <mat-dialog-actions align="center" class="p-12 mt-12">
                <button mat-raised-button color="accent" type="button" class="wt-btn" matStepperNext>Learn More</button>
            </mat-dialog-actions>
            <mat-dialog-actions align="center" class="p-12 mt-12">
                <button mat-button type="button" (click)="finish()" tabIndex="-1">No Thanks</button>
            </mat-dialog-actions>
        </div>

    </mat-step>

    <mat-step label="Compatibility Check" state="">
        <div *ngIf="!compatibilityCheckResponse">
            <div fxLayoutAlign="start" class="site-form-content">
                <mat-dialog-content class="mat-typography dialog-form-fields-fl m-4" fxFlex="40" fxFlex.lt-md="100">
                    <form class="p-0 mr-0" fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto"
                        name="compatibilityCheckForm" [formGroup]="compatibilityCheckForm">
                        <div class="welcome-txt wt-finish-2">Please fill out your DVR/NVR & Camera information below so
                            we can ensure our systems are compatible.</div>
                        <!--div fxLayout="row">

                            <mat-form-field appearance="outline" fxFlex="100">
                                <mat-label>DVR/NVR Manufacturer</mat-label>
                                <input matInput formControlName="recorder_make" required>
                                <mat-error>Manufacturer is required!</mat-error>
                            </mat-form-field>

                        </div>

                        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                            <mat-form-field appearance="outline" fxFlex="100">
                                <mat-label>DVR/NVR Model</mat-label>
                                <input matInput formControlName="recorder_model" required>
                            </mat-form-field>

                        </div-->

                        <div fxLayout="row">

                            <mat-form-field appearance="outline" fxFlex="100">
                                <mat-label>DVR/NVR Type</mat-label>
                                <mat-select placeholder="Type" formControlName="recorder_type" required>
                                    <mat-option
                                        *ngFor="let recorder_type of [{txt: 'DVR', value: 'DVR'}, {txt:'NVR', value: 'NVR'}, {txt: 'Not sure', value: 'DONT_KNOW'}]"
                                        [value]="recorder_type.value">{{ recorder_type.txt }} </mat-option>
                                </mat-select>
                            </mat-form-field>

                        </div>

                        <div fxLayout="row">

                            <mat-form-field appearance="outline" fxFlex="100">
                                <mat-label>Camera Type</mat-label>
                                <mat-select placeholder="Type" formControlName="camera_type" required>
                                    <mat-option
                                        *ngFor="let camera_type of [{txt: 'Analog', value: 'ANALOG'}, {txt: 'IP', value: 'IP'}, {txt: 'Not Sure', value: 'DONT_KNOW'}]"
                                        [value]="camera_type.value">{{ camera_type.txt }} </mat-option>
                                </mat-select>
                            </mat-form-field>

                        </div>

                        <div fxLayout="row">

                            <mat-form-field appearance="outline" fxFlex="100">
                                <mat-label>System RTSP Support</mat-label>
                                <mat-select placeholder="Type" formControlName="recorder_support_rtsp" required>
                                    <mat-option
                                        *ngFor="let recorder_support_rtsp of [{txt:'Yes', value: 'YES'}, {txt: 'No', value: 'NO'}, {txt: 'Not sure', value: 'DONT_KNOW'}]"
                                        [value]="recorder_support_rtsp.value">{{ recorder_support_rtsp.txt }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </form>
                </mat-dialog-content>

                <div class="dialog-info m-4" fxFlex="60" fxFlex.lt-md="100">

                    <mat-dialog-content class="mat-typography dialog-form-fields-fl m-4" fxFlex="100"
                        fxFlex.lt-md="100">
                        <div id="info-container">
                            <div class="welcome-txt wt-finish-2">Is Your Camera System Recorder an NVR or DVR?</div>
                            <div class="welcome-txt wt-finish-3" style="text-align: left; margin-bottom: 20px;">
                                <ul>
                                    <li>Both NVRs and DVRs are responsible for video recording. </li>
                                    <li>DVR stands for Digital Video Recorder, whereas NVR stands for Network Video
                                        Recorder. </li>
                                    <li>DVRs are used to record video from Analog Cameras, NVRs are used primarily to
                                        record video from IP Cameras.</li>
                                    <li>DVRs are only wired cameras, whereas NVR systems work with both wired and
                                        wireless cameras.</li>
                                </ul>
                            </div>
                            <div class="welcome-txt wt-finish-2">DVR System (Analog CCTV Cameras)</div>
                            <img src="assets/images/dvr-nvr/CCTV_Camera_Flow.png" style="margin-bottom: 20px;">

                            <div class="welcome-txt wt-finish-2">NVR System (Digital IP Cameras)</div>
                            <img src="assets/images/dvr-nvr/IP_Camera_Flow.png">
                        </div>

                        <mat-dialog-actions align="end" class="p-12 mt-12">

                        </mat-dialog-actions>
                    </mat-dialog-content>

                </div>
            </div>
            <mat-dialog-actions align="end" class="p-12 mt-12">
                <button mat-raised-button class="wt-btn" color="accent" matStepperPrevious>Back</button>
                <button mat-raised-button class="wt-btn" color="accent" (click)=check()
                    [disabled]="!compatibilityCheckForm.valid">Check</button>
            </mat-dialog-actions>
        </div>

        <div *ngIf="compatibilityCheckResponse && systemCompatible">
            <div fxLayoutAlign="center" class="site-form-content" style="margin-bottom: 20px;">
                <mat-dialog-content class="mat-typography dialog-form-fields-fl m-4" fxFlex="100" fxFlex.lt-md="100">
                    <form class="p-0 mr-0" fxLayout="column" fxLayoutAlign="center" fxFlex="1 0 auto"
                        name="fususcoreSelectionForm" [formGroup]="fususcoreSelectionForm">
                        <div class="welcome-txt wt-finish-11">Success! Your Camera System is Compatible with fūsusCORE™
                        </div>
                        <div class="welcome-txt wt-finish-10">How many cameras does your security system have?</div>
                        <div fxLayout="row" fxLayoutAlign="center">
                            <mat-dialog-content class="mat-typography dialog-form-fields-fl m-4" fxFlex="60"
                                fxFlex.lt-md="100">
                                <mat-form-field appearance="outline" fxFlexAlign="center" fxFlex="100">
                                    <mat-select placeholder="Number of Cameras" formControlName="number_cameras"
                                        required>
                                        <mat-option
                                            *ngFor="let number_cameras of [{txt: '10 or less', value: 10}, {txt:'11 or more', value: 11}]"
                                            [value]="number_cameras.value">{{ number_cameras.txt }} </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </mat-dialog-content>
                        </div>
                    </form>
                </mat-dialog-content>
            </div>

            <mat-dialog-actions align="center" class="p-12 mt-12">
                <button mat-raised-button color="accent" type="button" class="wt-btn"
                    [disabled]="!fususcoreSelectionForm.valid" matStepperNext (click)="selectCore()">Purchase</button>
            </mat-dialog-actions>
            <mat-dialog-actions align="center" class="p-12 mt-12">
                <button mat-button type="button" (click)="finish()" tabIndex="-1">No
                    Thanks</button>
            </mat-dialog-actions>
            <mat-dialog-actions align="center" class="p-12 mt-12">
                <button mat-button type="button" class="btn-green" tabIndex="-1" (click)="checkAgain()">Check
                    Again</button>
            </mat-dialog-actions>
        </div>

        <div *ngIf="compatibilityCheckResponse && !systemCompatible">
            <div fxFlex="100" fxFlex.lt-md="100" class="dialog-map m-4">
                <div class="welcome-txt wt-finish-8">Based on your entries our customer support team will need to ask
                    you a few questions to ensure our systems are compatible.</div>
                <div class="welcome-txt wt-finish-2">Please fill out the form below and we will contact you as soon as
                    possible.</div>
                <div class="dialog-map m-4">
                    <form class="contact-form" fxLayout="column" fxLayoutAlign="center" fxFlex="1 0 auto"
                        name="contactForm" [formGroup]="contactForm">
                        <div fxLayout="row">
                            <mat-form-field appearance="outline" fxFlex="100">
                                <mat-label>First Name</mat-label>
                                <input matInput formControlName="contactFirstName" required>
                            </mat-form-field>
                        </div>

                        <div fxLayout="row">
                            <mat-form-field appearance="outline" fxFlex="100">
                                <mat-label>Last Name</mat-label>
                                <input matInput formControlName="contactLastName" required>
                            </mat-form-field>
                        </div>

                        <!--div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                        <mat-form-field appearance="outline" fxFlex="100">
                            <mat-label>Title</mat-label>
                            <input matInput formControlName="contactTitle" required>
                        </mat-form-field>
                    </div-->

                        <div fxLayout="row">
                            <mat-form-field appearance="outline" fxFlex="100">
                                <mat-label>Email</mat-label>
                                <input matInput formControlName="contactEmail" required>
                            </mat-form-field>
                        </div>

                        <div fxLayout="row">
                            <mat-form-field appearance="outline" fxFlex="100">
                                <mat-label>Phone</mat-label>
                                <input matInput formControlName="contactPhone" required>
                            </mat-form-field>
                        </div>
                    </form>
                </div>
                <div class="dialog-map m-4">
                    <mat-dialog-actions align="center" class="p-12 mt-12">
                        <button mat-raised-button color="accent" type="button" class="wt-btn"
                            (click)="sendContactInfo()" [disabled]="!contactForm.valid">Send</button>
                    </mat-dialog-actions>

                    <!--mat-dialog-actions align="center" class="p-12 mt-12">
                        <button mat-button type="button" (click)="finish()" tabIndex="-1">No
                            Thanks</button>
                    </mat-dialog-actions-->

                    <mat-dialog-actions align="center" class="p-12 mt-12">
                        <button mat-button type="button" class="btn-green" tabIndex="-1" (click)="checkAgain()">Check
                            Again</button>
                    </mat-dialog-actions>
                </div>
            </div>

        </div>

    </mat-step>

    <mat-step label="Purchase CORE" state="">
        <div fxLayoutAlign="start" class="site-form-content">
            <div fxFlex="60" fxFlex.lt-md="100" class="dialog-map m-4">
                <div class="product-info">
                    <div class="product-img">
                        <img src="assets/images/share-wizard/fususcore2.png" alt="Product" class="product-image">
                    </div>
                    <div class="product-description">
                        <div class="product-description-header">{{ fusucore.name || 'fūsusCORE™' }}</div>
                        <div class="product-description-price">
                            <span class="span-price">Price:</span> {{ fusucore.price || '$1000'}}/each
                        </div>
                        <div class="product-description-more">
                            <span class="span-more">Open Platform:</span>
                            There are no changes needed to your camera equipment to enable video sharing
                        </div>
                        <div class="product-description-more">
                            <span class="span-more">Little-To-No Impact To Your Network:</span>
                            Network utilization is zero when video is not being shared
                        </div>
                        <div class="product-description-more">
                            <span class="span-more">Privacy Protection:</span>
                            Video is accessed only when needed by Police
                        </div>
                        <div class="product-description-more">
                            <span class="span-more">Quick & Easy Setup:</span>
                            Setup takes just minutes
                        </div>
                    </div>
                </div>
            </div>
            <div fxFlex="40" fxFlex.lt-md="100" class="dialog-map m-4">
                <div *ngIf="!paymentDone" class="App-Payment" #stripeContainer style="margin-top: 30px;">
                    <form name="paymentForm" [formGroup]="paymentForm" class="p-0 mr-0" fxLayout="column"
                        fxLayoutAlign="start" fxFlex="1 0 auto" name="form">
                        <!--div id="example5-paymentRequest">
                            <Stripe paymentRequestButton Element inserted here>
                        </div-->
                        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                            <mat-form-field appearance="outline" fxFlex="100">
                                <mat-label>Card name</mat-label>
                                <input matInput formControlName="cardName" required>
                                <mat-error>Name is required!</mat-error>
                                <p class="http-error field-error">{{ httpErrors?.name }}</p>
                            </mat-form-field>

                        </div>

                        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                            <mat-form-field appearance="outline" fxFlex="100">
                                <mat-label>Email</mat-label>
                                <input matInput formControlName="cardEmail" required>
                                <mat-error>Email is required!</mat-error>
                                <p class="http-error field-error">{{ httpErrors?.name }}</p>
                            </mat-form-field>

                        </div>

                        <div class="App-Payment-Card flex-container spacing-16 direction-row wrap-wrap">

                            <!-- <div class="flex-item width-12">
                                <div class="FormFieldGroup">
                                    <div
                                        class="FormFieldGroup-labelContainer flex-container justify-content-space-between">
                                        <label for="name"><span
                                                class="Text Text-color--gray600 Text-fontSize--13 Text-fontWeight--500"><span>Name
                                                    on the Card</span></span></label>
                                    </div>
                                    <fieldset class="FormFieldGroup-Fieldset" id="name-fieldset">
                                        <div class="FormFieldGroup-container">
                                            <div
                                                class="FormFieldGroup-child FormFieldGroup-child--width-12 FormFieldGroup-childLeft FormFieldGroup-childRight FormFieldGroup-childTop FormFieldGroup-childBottom">
                                                <div class="FormFieldInput">
                                                    <input matInput required class="CheckoutInput Input Input--empty" autocomplete="name"
                                                        autocorrect="off" spellcheck="false" id="name" name="name" [class.invalid-form] = "!paymentForm.controls['cardName'].valid"
                                                        type="name" aria-invalid="false" value="" formControlName="cardName">
                                                </div>
                                            </div>
                                            <div style="opacity: 0; height: 0px;">
                                                <span
                                                    class="FieldError Text Text-color--red Text-fontSize--13"><span></span></span>
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                            <div class="flex-item width-12">
                                <div class="FormFieldGroup">
                                    <div
                                        class="FormFieldGroup-labelContainer flex-container justify-content-space-between">
                                        <label for="name"><span
                                                class="Text Text-color--gray600 Text-fontSize--13 Text-fontWeight--500"><span>Email</span></span></label>
                                    </div>
                                    <fieldset class="FormFieldGroup-Fieldset" id="email-fieldset">
                                        <div class="FormFieldGroup-container">
                                            <div
                                                class="FormFieldGroup-child FormFieldGroup-child--width-12 FormFieldGroup-childLeft FormFieldGroup-childRight FormFieldGroup-childTop FormFieldGroup-childBottom">
                                                <div class="FormFieldInput">
                                                    <input class="CheckoutInput Input Input--empty" autocomplete="email"
                                                        autocorrect="off" spellcheck="false" id="email" name="email"
                                                        [class.invalid-form]="!paymentForm.controls['cardEmail'].valid"
                                                        type="email" aria-invalid="false" value="" matInput required
                                                        formControlName="cardEmail">
                                                </div>
                                            </div>
                                            <div style="opacity: 0; height: 0px;">
                                                <span
                                                    class="FieldError Text Text-color--red Text-fontSize--13"><span></span></span>
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>
                            </div> -->

                            <div class="flex-item width-12" [class.disabled-card]="disabledCardInfo">
                                <div class="FormFieldGroup">
                                    <div
                                        class="FormFieldGroup-labelContainer flex-container justify-content-space-between">
                                        <label for="cardNumber-fieldset">
                                            <span
                                                class="Text Text-color--gray600 Text-fontSize--13 Text-fontWeight--500">
                                                <span>Card information</span>
                                            </span>
                                        </label>
                                    </div>
                                    <fieldset class="FormFieldGroup-Fieldset" id="cardNumber-fieldset">
                                        <div class="FormFieldGroup-container">
                                            <div
                                                class="FormFieldGroup-child FormFieldGroup-child--width-12 FormFieldGroup-childLeft FormFieldGroup-childRight FormFieldGroup-childTop">
                                                <div class="FormFieldInput has-icon">
                                                    <span class="InputContainer" data-max="">
                                                        <div id="card-number"
                                                            class="CheckoutInput CheckoutInput--tabularnums Input"
                                                            autocomplete="cc-number" autocorrect="off"
                                                            spellcheck="false" inputmode="numeric"
                                                            aria-label="Card number" placeholder="1234 1234 1234 1234"
                                                            aria-placeholder="1234 1234 1234 1234" aria-invalid="false">
                                                        </div>
                                                    </span>
                                                </div>
                                            </div>
                                            <div
                                                class="FormFieldGroup-child FormFieldGroup-child--width-6 FormFieldGroup-childLeft FormFieldGroup-childBottom">
                                                <div class="FormFieldInput">
                                                    <span class="InputContainer" data-max="">
                                                        <div class="CheckoutInput CheckoutInput--tabularnums Input Input--empty"
                                                            autocomplete="cc-exp" autocorrect="off" spellcheck="false"
                                                            id="card-expiry" name="cardExpiry" inputmode="numeric"
                                                            aria-label="Expiration" placeholder="MM / YY"
                                                            aria-placeholder="MM / YY" aria-invalid="false" value="">
                                                        </div>
                                                    </span>
                                                </div>
                                            </div>
                                            <div
                                                class="FormFieldGroup-child FormFieldGroup-child--width-6 FormFieldGroup-childRight FormFieldGroup-childBottom">
                                                <div class="FormFieldInput has-icon">
                                                    <span class="InputContainer" data-max="">
                                                        <div class="CheckoutInput CheckoutInput--tabularnums Input Input--empty"
                                                            autocomplete="cc-csc" autocorrect="off" spellcheck="false"
                                                            id="card-cvc" name="cardCvc" inputmode="numeric"
                                                            aria-label="CVC" placeholder="CVC" aria-placeholder="CVC"
                                                            aria-invalid="false" value=""></div>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div *ngIf="paymentDone" class="App-Payment payment-done" #stripeContainer style="margin-top: 30px;">
                    <div class="payment-done-header">Payment Successful</div>
                    <div class="payment-done-summary">
                        <div class="payment-done-sub-header">
                            <div class="payment-done-sub-header-info">
                                <div class="payment-done-sub-header-title">AMOUNT PAID</div>
                                <div class="payment-done-sub-header-number">{{ fusucore.price }}</div>
                            </div>
                            <div class="payment-done-sub-header-info">
                                <div class="payment-done-sub-header-title">DATE PAID</div>
                                <div class="payment-done-sub-header-number">{{ datePaid }}</div>
                            </div>
                            <div class="payment-done-sub-header-info">
                                <div class="payment-done-sub-header-title">PAYMENT METHOD</div>
                                <div class="payment-done-sub-header-number">{{ paymentMethod }}</div>
                            </div>
                        </div>
                        <div class="payment-done-summary-header">SUMMARY</div>
                        <div class="payment-done-summary-amount">
                            <div class="payment-done-summary-amount-title">{{ summaryDescription }}</div>
                            <div class="payment-done-summary-amount-number">{{ fusucore.price }}</div>
                        </div>
                        <div class="payment-done-summary-amount">
                            <div class="payment-done-summary-amount-title">Amount paid</div>
                            <div class="payment-done-summary-amount-number">{{ fusucore.price }}</div>
                        </div>
                    </div>
                    <div class="payment-done-footer">
                        If you have any questions, contact us at
                        <a href="mailto:support@fusus.com">
                            <span>support@fusus.com</span>
                        </a>
                        or call at
                        <a href="tel:+18442269226">
                            <span>+1 844-226-9226.</span>
                        </a>
                    </div>
                </div>

                <form *ngIf="!paymentDone" name="couponForm" [formGroup]="couponForm" class="p-0 mr-0"
                    fxLayout="column">
                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                        <mat-form-field appearance="outline" fxFlex="100">
                            <mat-label>USE COUPON CODE</mat-label>
                            <input matInput (input)="invalidCoupon = false" formControlName="couponCode">
                            <p class="http-error field-error" *ngIf="invalidCoupon">Invalid coupon</p>
                        </mat-form-field>
                        <button mat-raised-button class="wt-btn-coupon" color="accent" (click)="useCoupon()"
                            [disabled]="!couponForm.controls.couponCode.value">APPLY</button>
                    </div>
                </form>

            </div>
        </div>

        <mat-dialog-actions align="end" class="p-12 mt-12">
            <button mat-raised-button class="wt-btn" color="accent" matStepperPrevious>Back</button>
            <button *ngIf="!paymentDone" mat-raised-button color="accent" type="button" class="wt-btn"
                (click)="onSubmit()" [disabled]="!enablePaymentBtn()">Submit Payment</button>
            <button *ngIf="paymentDone" mat-raised-button color="accent" matStepperNext type="button"
                class="wt-btn">Next</button>

        </mat-dialog-actions>
    </mat-step>

    <!--mat-step label="Pre-Configurator" state="">
        <div fxLayoutAlign="start" class="site-form-content">
            <mat-dialog-content class="mat-typography dialog-form-fields-fl m-4" fxFlex="40" fxFlex.lt-md="100">
                <form class="p-0 mr-0" fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto"
                    name="dvrNvrInformationForm" [formGroup]="dvrNvrInformationForm">
                    <div fxLayout="row">
                        <div class="welcome-txt wt-finish-2">Please Register your DVR/NVR Information</div>
                    </div>
                    <div fxLayout="row">

                        <mat-form-field appearance="outline" fxFlex="100">
                            <mat-label>Name</mat-label>
                            <input matInput formControlName="name" #search required>
                            <mat-error>Name is required!</mat-error>
                        </mat-form-field>

                    </div>

                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                        <mat-form-field appearance="outline" fxFlex="100">
                            <mat-label>Make</mat-label>
                            <input matInput formControlName="make">
                        </mat-form-field>

                    </div>

                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                        <mat-form-field appearance="outline" fxFlex="100">
                            <mat-label>Model</mat-label>
                            <input matInput formControlName="model">
                        </mat-form-field>

                    </div>

                    <div fxLayout="row">

                        <mat-form-field appearance="outline" fxFlex="100">
                            <mat-label>Type</mat-label>
                            <mat-select placeholder="Type" formControlName="type" required>
                                <mat-option *ngFor="let type of ['DVR', 'NVR']" [value]="type">{{ type }} </mat-option>
                            </mat-select>
                        </mat-form-field>

                    </div>

                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                        <mat-form-field appearance="outline" fxFlex="100">
                            <mat-label>Ip</mat-label>
                            <input matInput formControlName="host">
                        </mat-form-field>

                    </div>

                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                        <mat-form-field appearance="outline" fxFlex="100">
                            <mat-label>Username</mat-label>
                            <input matInput formControlName="username">
                        </mat-form-field>

                    </div>

                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                        <mat-form-field appearance="outline" fxFlex="100">
                            <mat-label>Password</mat-label>
                            <input matInput formControlName="password">
                        </mat-form-field>

                    </div>

                    <div fxLayout="row">

                        <mat-form-field appearance="outline" fxFlex="100">
                            <mat-label>RTSP Support</mat-label>
                            <mat-select placeholder="Type" formControlName="is_rtsp_supported" required>
                                <mat-option *ngFor="let item of [{txt: 'Yes', value: true}, {txt: 'No', value: false}]"
                                    [value]="item.value">{{ item.txt }} </mat-option>
                            </mat-select>
                        </mat-form-field>

                    </div>

                    <input formControlName="location" type="hidden" required>

                    <mat-dialog-actions align="end" class="p-12 mt-12">
                        <button mat-raised-button type="button" color="accent" [disabled]="!dvrNvrInformationForm.valid"
                            (click)="save()" class="wt-btn">Save</button>
                    </mat-dialog-actions>

                </form>

            </mat-dialog-content>

            <div class="dialog-info m-4" fxFlex="60" fxFlex.lt-md="100">

                <mat-dialog-content class="mat-typography dialog-form-fields-fl m-4" fxFlex="100" fxFlex.lt-md="100">
                    <div id="info-container">
                        <div class="welcome-txt wt-finish-2">DVR (Analog) vs. NVR (Digital) Video Systems</div>
                        <div class="welcome-txt wt-finish-3">Both NVR and DVRs are responsible for video recording. DVR
                            stands for Digital Video Recorder, whereas NVR stands for Network Video Recorder. The
                            difference
                            between NVR and DVR is how they process video data. DVR systems process the video data at
                            the
                            recorder, whereas NVR systems encode and process the video data at the camera, then stream
                            it to
                            the NVR recorder which is used for storage and remote viewing.</div>
                        <div class="welcome-txt wt-finish-3">Most NVRs are used with IP cameras whereas DVRs are used
                            with
                            analog cameras. A DVR based system is a wired security system, whereas NVR systems can be
                            wired
                            or wireless systems.</div>

                        <div class="welcome-txt wt-finish-2">DVR System (Analog CCTV Cameras)</div>
                        <img src="assets/images/dvr-nvr/CCTV_Camera_Flow.png">

                        <div class="welcome-txt wt-finish-2">NVR System (Digital IP Cameras)</div>
                        <img src="assets/images/dvr-nvr/IP_Camera_Flow.png">
                    </div>

                    <mat-dialog-actions align="end" class="p-12 mt-12">

                    </mat-dialog-actions>
                </mat-dialog-content>

            </div>
        </div>
        <mat-dialog-actions align="end" class="p-12 mt-12">
            <button mat-raised-button type="button" color="accent" [disabled]="!enableAddNewBtn" (click)="clear()"
                class="wt-btn">Add New DVR/NVR</button>
            <button mat-raised-button matStepperNext class="wt-btn" color="accent"
                [disabled]="!enableButtonNext">Next</button>
        </mat-dialog-actions>
    </mat-step-->

    <mat-step label="Pre-Configurator" state="">
        <div fxLayoutAlign="start" class="site-form-content">
            <mat-dialog-content class="mat-typography dialog-form-fields-fl m-4" fxFlex="100" fxFlex.lt-md="100">

                <div class="wt-finish-1-camera">Please provide the following information to configure your camera system
                    for sharing</div>
                <div class="wt-finish-1-1-camera">Note: Fusus technical support can assist with gathering this
                    information: (844) 226-9226 x1402</div>

                <div class="table-container mat-elevation-z8">
                    <table mat-table #table [dataSource]="dataSource">

                        <ng-container matColumnDef="actions">
                            <th mat-header-cell *matHeaderCellDef> Actions </th>
                            <td mat-cell class="editable-cell" *matCellDef="let element; let j = index">
                                <ng-container>
                                    <mat-chip-list>
                                        <mat-chip (click)="removeRow(j)" class="m-12 wt-btn-rm">Delete</mat-chip>
                                        <mat-chip (click)="duplicate(j)" class="m-12 wt-btn-duplicate">Duplicate
                                        </mat-chip>
                                    </mat-chip-list>
                                </ng-container>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="index">
                            <th mat-header-cell *matHeaderCellDef> No. </th>
                            <td mat-cell *matCellDef="let element; let j = index"> {{j+1}}. </td>
                        </ng-container>

                        <ng-container matColumnDef="type">
                            <th mat-header-cell *matHeaderCellDef> Type </th>
                            <td mat-cell *matCellDef="let element">
                                <ng-container>
                                    <mat-select [(ngModel)]="element.type">
                                        <mat-option value='CAMERA'>Camera</mat-option>
                                        <mat-option value='RECORDER'>DVR/NVR</mat-option>
                                    </mat-select>
                                </ng-container>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="name">
                            <th mat-header-cell *matHeaderCellDef> Name </th>
                            <td mat-cell class="editable-cell" *matCellDef="let element" [satPopoverAnchor]="p"
                                (click)="p.open()">
                                <ng-container *ngIf="element.name">
                                    {{element.name}}
                                </ng-container>
                                <span class="add-comment" *ngIf="!element.name">
                                    Add info
                                </span>

                                <sat-popover #p hasBackdrop xAlign="start" yAlign="start"
                                    (closed)="update(element, $event)">
                                    <inline-edit [value]="element.name" field="name"></inline-edit>
                                </sat-popover>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="make">
                            <th mat-header-cell *matHeaderCellDef> Make </th>
                            <td mat-cell class="editable-cell" *matCellDef="let element" [satPopoverAnchor]="p"
                                (click)="p.open()">
                                <ng-container *ngIf="element.make">
                                    {{element.make}}
                                </ng-container>
                                <span class="add-comment" *ngIf="!element.make">
                                    Add info
                                </span>

                                <sat-popover #p hasBackdrop xAlign="start" yAlign="start"
                                    (closed)="update(element, $event)">
                                    <inline-edit [value]="element.make" field="make"></inline-edit>
                                </sat-popover>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="model">
                            <th mat-header-cell *matHeaderCellDef> Model </th>
                            <td mat-cell class="editable-cell" *matCellDef="let element" [satPopoverAnchor]="p"
                                (click)="p.open()">
                                <ng-container *ngIf="element.model">
                                    {{element.model}}
                                </ng-container>
                                <span class="add-comment" *ngIf="!element.model">
                                    Add info
                                </span>

                                <sat-popover #p hasBackdrop xAlign="start" yAlign="start"
                                    (closed)="update(element, $event)">
                                    <inline-edit [value]="element.model" field="model"></inline-edit>
                                </sat-popover>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="host">
                            <th mat-header-cell *matHeaderCellDef> Ip/Host </th>
                            <td mat-cell class="editable-cell" *matCellDef="let element" [satPopoverAnchor]="p"
                                (click)="p.open()">
                                <ng-container *ngIf="element.host">
                                    {{element.host}}
                                </ng-container>
                                <span class="add-comment" *ngIf="!element.host">
                                    Add info
                                </span>

                                <sat-popover #p hasBackdrop xAlign="start" yAlign="start"
                                    (closed)="update(element, $event)">
                                    <inline-edit [value]="element.host" field="host"></inline-edit>
                                </sat-popover>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="username">
                            <th mat-header-cell *matHeaderCellDef> Username </th>
                            <td mat-cell class="editable-cell" *matCellDef="let element" [satPopoverAnchor]="p"
                                (click)="p.open()">
                                <ng-container *ngIf="element.username">
                                    {{element.username}}
                                </ng-container>
                                <span class="add-comment" *ngIf="!element.username">
                                    Add info
                                </span>

                                <sat-popover #p hasBackdrop xAlign="start" yAlign="start"
                                    (closed)="update(element, $event)">
                                    <inline-edit [value]="element.username" field="username"></inline-edit>
                                </sat-popover>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="password">
                            <th mat-header-cell *matHeaderCellDef> Password </th>
                            <td mat-cell class="editable-cell" *matCellDef="let element" [satPopoverAnchor]="p"
                                (click)="p.open()">
                                <ng-container *ngIf="element.password">
                                    {{element.password}}
                                </ng-container>
                                <span class="add-comment" *ngIf="!element.password">
                                    Add info
                                </span>

                                <sat-popover #p hasBackdrop xAlign="start" yAlign="start"
                                    (closed)="update(element, $event)">
                                    <inline-edit [value]="element.password" field="password"></inline-edit>
                                </sat-popover>
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                </div>
            </mat-dialog-content>

        </div>
        <mat-dialog-actions align="center" class="p-12 mt-12">
            <button mat-raised-button type="button" color="accent" (click)="addNewCamera()"
                class="wt-btn btn-primary-color">
                Add New</button>
        </mat-dialog-actions>

        <mat-dialog-actions align="end" class="p-12 mt-12">
            <button mat-raised-button class="wt-btn" color="accent" matStepperPrevious>Back</button>
            <button mat-raised-button matStepperNext class="wt-btn" color="accent"
                (click)="saveCamerasInfo()">Next</button>
        </mat-dialog-actions>

    </mat-step>

    <mat-step label="Finish" state="">
        <div class="wt-finish-1">Thank you for submitting your Camera Registration!</div>
        <div fxFlex="100" fxFlex.lt-md="100" class="dialog-map m-4">
            <mat-dialog-actions align="center" class="p-12 mt-12">
                <button mat-raised-button class="wt-btn" color="accent" (click)="backAtFinishStep()">Back</button>
                <button mat-raised-button mat-dialog-close color="accent" type="button" (click)="completeWizard()"
                    class="wt-btn">Finish</button>
            </mat-dialog-actions>
        </div>
    </mat-step>

</mat-horizontal-stepper>