<!-- <div class="header accent p-4" fxLayout="row" fxLayoutAlign="start center">
		<button mat-raised-button color="basic" (click)="showAddSiteDialog()">
			<span>Add Location</span>
		</button>
	</div> -->
<fuse-sidebar *ngIf="currentSite" class="sidebar" name="simple-rightsidebar-2" position="left" lockedOpen="gt-xs">
	<site-cameras [site]="currentSite" (cameraUpdated)="cameraUpdated($event)" [selectedCamera]="selectedCamera"
		(siteUpdated)="currentSiteUpdated($event)" (siteDeleted)="currentSiteDeleted($event)" 
		(cameraSelected)="selectCamera($event)" #cameras></site-cameras>
</fuse-sidebar>

<!-- <agm-map class="content p-0" [zoom]="mapZoom" [latitude]="coordinates?.lat" [longitude]="coordinates?.lng"
		[mapTypeId]="'satellite'" [mapTypeControl]="true">
		<agm-marker [latitude]="coordinates?.lat" [longitude]="coordinates?.lng"></agm-marker>
		<agm-marker-cluster [maxZoom]="18" imagePath="https://raw.githubusercontent.com/googlemaps/v3-utility-library/master/markerclustererplus/images/m">
			<agm-marker *ngFor="let camera of currentCameras" [iconUrl]="'/assets/icons/markers/video_camera.png'"
				[latitude]="camera.lat" [longitude]="camera.lon"></agm-marker>
		</agm-marker-cluster>
	</agm-map> -->
<map #map class="content p-0" [sites]="sites" [selectedSite]="currentSite"
(clusterClick)="clusterClick($event)" (mapReady)="onMapReady()" (markerClick)="markerClick($event)" 
(cameraDetails)="cameraDetails($event)" (deleteCamera)="deleteCamera($event)"
(onCameraFocus)="selectedCamera=$event"></map>